[2012-02-27 02:26] RobertCNelson opened #1 "add "get-kernel-headers.sh" script..."
add a script by default that download/installs the kernel headers from rcn-ee.net...

[2012-06-12 15:59] RobertCNelson opened #2 "quantal: serial terminal (getty)"
From precise -> quantal something changed with the serial handling:
- CPUFreq Utilities: Setting ondemand CPUFreq governor...         \* CPU0...                                                       [ OK ]
- Starting web server apache2                                    apache2: Could not reliably determine the server's fully qualified domain name, using 127.0.1.1 for ServerName

[2012-08-15 22:23] #2 closed, assigned to RobertCNelson

[2012-10-02 09:49] codewithpassion opened #3 "chroot: failed to run command `debootstrap/debootstrap': No such file or directory"
Hi,

I tried to use the image builder but run into a problem one it tries to setup the root fs.

See below the output.

Nay clue?

Cheers
## Running as:
## sudo /home/codewithpassion/openrov/omap-image-builder/git/project-rootstock/rootstock  --imagesize 2G --fqdn arm --login ubuntu --password temppwd --fullname "Demo User" --seed git-core,nano,pastebinit,wget,i2c-tools,bsdmainutils,usb-modeswitch

[2012-10-02 12:07] #1 closed, assigned to RobertCNelson

[2012-10-02 12:21] #3 closed, assigned to RobertCNelson

[2012-11-07 20:16] RobertCNelson opened #4 "Panda Stuck on v3.2.x"
Unhandled fault: imprecise external abort (0x1406) at xyz

u-boot: v2012.10 - v3.6.6-x3 : Unhandled fault: imprecise external abort (0x1406)
u-boot: v2012.10 - v3.7-rc4 : 12 hours later, still not ^...

[2012-11-07 20:17] RobertCNelson opened #5 "Panda ES Stuck on u-boot v2012.04"
Panda' ES locks up on bootup with > u-boot v2012.04

https://github.com/RobertCNelson/Bootloader-Builder/issues/1

Panda ES:
v2013.01-rc1 + 3.2.33-x15

[    2.613739] device-mapper: ioctl: 4.22.0-ioctl (2011-10-19) initialised: dm-devel@redhat.com
[    2.622863] Unable to handle kernel NULL p
(lockup)

With 3.6.6-x3:

U-Boot 2013.01.-rc1-dirty (Nov 07 2012 - 14:33:13)

CPU  : OMAP4460 ES1.1
Board:

[2012-11-07 20:18] RobertCNelson opened #6 "Beagle xM: 800Mhz Broken"
Locks up, on software reboot:
v3.6.x

https://github.com/RobertCNelson/linux-dev/commit/13305cbf71817c2623c903fded3fab21288f5f93

[2012-11-07 20:19] RobertCNelson opened #7 "Beagle C4 (classic): u-boot lock up on reboot"
Config: ONDEMAND disabled to work around it..

https://github.com/RobertCNelson/linux-dev/commit/69e54d1447298452b633b50f8e09fb5858566071

Affected in:
v3.7-rc5: (u-boot-v2012.10)
v3.6.x
v3.5.7

(serial)
voodoo@beagle-c4-256mb-c0:~$ sudo reboot

The system is going down for reboot NOW!6mb-c0 (ttyO2) (Mon Nov 12 12:21:47 2
[   65.517822] EXT4-fs (sda6): re-mounted. Opts: (null)
[   67.875213] musb-

[2012-11-07 20:21] RobertCNelson opened #8 "BeagleBone: Stuck on v3.2.x"

[2012-11-07 20:23] RobertCNelson opened #9 "Beagle xM: add camera=LBCMVGA support"
v3.6.x

http://shop.leopardimaging.com/searchquick-submit.sc?keywords=LBCMVGA

Currently no mainline support for the "MT9V113" device...

[2012-11-09 16:55] #5 closed, assigned to RobertCNelson

[2012-11-12 14:36] RobertCNelson opened #10 "OMAP: vram going away, v3.8-rc"
http://www.spinics.net/lists/arm-kernel/msg206379.html

[2012-11-15 22:47] #7 closed, assigned to RobertCNelson

[2012-11-26 22:05] RobertCNelson opened #11 "u-boot v2013.04: switch to using "load""
See:

https://github.com/RobertCNelson/u-boot/commit/f9b55e22856a97523074f3dc40ea5d196298756a

[2012-11-28 16:58] RobertCNelson opened #12 "Validation: 2012.11"
Beagle C4: (pass)
Beagle xM wifi: (pass)
Beagle xM LCD7: (pass)
Panda:
Panda ES: (pass)
Bone:
Bone LCD7: (pass)
Bone LCD3: (pass)

[2012-12-01 19:39] #12 closed, assigned to RobertCNelson

[2012-12-01 19:41] RobertCNelson opened #13 "Validation: 2012.12"
Beagle B5/Zippy2:
Beagle C4:
Beagle xM wifi: [okay]
Beagle xM LCD7: [okay]
Panda: [okay]
Panda ES: [okay]
Bone: [okay]
Bone LCD7:
Bone LCD3: [okay]

[2012-12-04 23:05] RobertCNelson opened #14 "Validation: 2013.02"
Beagle B5/Zippy2:
Beagle C4:
Beagle xM wifi: [x]
Beagle xM LCD7:
Panda: [x]
Panda ES:
Bone:
Bone LCD7:
Bone LCD3: [x]
Bone DVI Cape: [x]

[2012-12-06 18:13] RobertCNelson opened #15 "BeagleBoard ULC7 (v3.7.x)"
use kernel module over u-boot setting:

http://git.yoctoproject.org/cgit/cgit.cgi/meta-ti/commit/?id=f0e2305c7e1

diff --git a/recipes-kernel/linux/linux-mainline-3.2/beagleboard/defconfig b/recipes-kernel/linux/linux-mainline-3.2/beagleboard/defconfig
index eaf9548..28f096c 100644
--- a/recipes-kernel/linux/linux-mainline-3.2/beagleboard/defconfig
+++ b/recipes-kernel/linux/linux-mainline-3.2/bea

[2012-12-07 01:28] RobertCNelson opened #16 "BeagleBoard + LSR COM6L"
Old BBToys schematic: https://groups.google.com/forum/?fromgroups=#!topic/beagleboard/LTlaq2BbtCY

http://wiki.lsr.com/LSR-TiWi-COM6L-Boards.ashx

[2012-12-12 21:07] RobertCNelson opened #17 "src packages"
Really should:

dpkg -l | tail -n+6 | cut -d" " -f3 | tr -s "\n" " " | sed "s/:armel//g" | sed "s/:armhf//g" > installed_packages
apt-get source --download-only `cat installed_packages`

[2012-12-13 17:02] #6 closed, assigned to RobertCNelson

[2012-12-14 20:40] #4 closed, assigned to RobertCNelson

[2013-01-14 15:40] #13 closed, assigned to RobertCNelson

[2013-01-14 15:41] RobertCNelson opened #19 "Validation: 2013.03"
Beagle B5/Zippy2:
Beagle C4:
Beagle xM wifi:
Beagle xM LCD7:
Panda: [x]
Panda ES:
Bone: [x]
Bone LCD7:
Bone LCD3:
BBB: [x]

[2013-02-07 01:07] #17 closed, assigned to RobertCNelson

[2013-02-07 01:45] RobertCNelson opened #20 "First Boot Script:"
make-ssl-cert generate-default-snakeoil --force-overwrite

[2013-02-18 16:18] #14 closed, assigned to RobertCNelson

[2013-03-29 18:18] #20 closed, assigned to RobertCNelson

[2013-03-29 18:19] #19 closed, assigned to RobertCNelson

[2013-04-06 13:39] RobertCNelson opened #21 "u-boot: transition from u-boot "loaduimage" to "uenvcmd""
https://gist.github.com/RobertCNelson/5326187

[2013-04-15 17:11] RobertCNelson opened #22 "u-boot: v2013.04 migration"
Goal, needs to be compatible with:
ubuntu-12.10-console-armhf-2013-03-28

BeagleBone [x]
BBB [x]
Panda [x]
Panda ES [x]
BeagleBoard [x]

[2013-04-15 20:51] RobertCNelson opened #23 "kernel: v3.9.x migration"
BeagleBoard [ ]
 zippy2 [ ]

BeagleBoard xM [ ]
 ulcd7 (lcd) [ ]
 ulcd7 (touch) [ ]
 lsr wifi [ ]
 spidev [ ]
 Aptina [ ]
Clock looks off...

PandaBoard [ ]
PandaBoard ES [ ]
 spidev [ ]

[2013-04-26 20:31] #22 closed, assigned to RobertCNelson

[2013-04-26 20:31] #21 closed, assigned to RobertCNelson

[2013-04-26 20:32] #11 closed, assigned to RobertCNelson

[2013-05-20 15:56] RobertCNelson opened #24 "2013.05 validation"
BBB [x]
Beaglexm [x]

[2013-05-20 15:56] #24 closed, assigned to RobertCNelson

[2014-04-11 17:17] yjh4ydj89 opened #29 "MITM resistance: missing pieces"
With most of the http: and git: URLs now replaced by https:, I've run `grep -rEioh '(#.*)?(http|git)://[^ "]*' | sort -u` on the repo and grouped the results.
### Critical

[code]

Move the key into the repo?
### Problematic?

[code]
### Harmless
#### (Commented out)

[code]
#### (Webpages)

[code]
#### (Trust follows from signing keys)

[code]
#### (= Self)

[code]

[2014-06-02 15:20] #23 closed, assigned to RobertCNelson

[2014-07-14 18:30] pjz opened #31 "Build kernel & kernel-headers packages"
I'm not sure if this is the right place to ask this, but IWBNI as well as building the kernel you could package it and the headers up as well.  There's a 'kernel-package' debian package to help automate this, but I don't know if or how well it will work when doing cross-compiles, so it might have to be done (slowly) natively.

I understand that the generated kernel might not be put in the right pl

[2014-07-14 19:21] #31 closed, assigned to nobody

[2014-07-23 18:18] jlefley opened #32 "deborphan removes explicitly installed library packages"
I noticed when the `chroot_very_small_image` option is enabled and I have specified a library package (i.e. `libtar0`) in `deb_include`, when I run `RootStock-NG.sh`, deborphan is called and subsequently removes the library package I specified.

I suppose it may be unusual to explicitly require a library package but I am developing a custom image to support software that is not packaged as a Debia

[2014-07-23 18:48] #32 closed, assigned to nobody

[2014-09-01 09:13] hankchan opened #37 "serial-getty@ttyGS0.service timed out on beagleboard.org-console.sh"
I use bb.org-console-debian-stable.sh  to build an image ,it takes more than 1 min to boot.

 I found there is no ttyGS0 ,and the message shows that:

[code]

[2014-09-01 15:28] #37 closed, assigned to nobody

[2014-09-02 07:25] hankchan opened #38 "the debian console image take up to 2 mins to boot, any suggestion?"
hi,i use bb.org-console-debian-stable.conf to build an image for Beaglebone Black Rev C. It take up to 2 mins to login when with no ethernet cable connected .

 I find the following solution for Ubuntu in the file "scripts/chroot.sh", how to do that on debian,any suggestion?

 thanks.

[code]

here is the kernel output:

[code]

[2014-09-03 03:31] #38 closed, assigned to nobody

[2014-09-17 07:52] hankchan opened #39 "Ethernet/RNDIS gadget is diable when building with bb.org-console-debian-stable.conf"
when I build  my custom image with this file  bb.org-console-debian-stable.conf , i find there is no usb0 after boot(using "ifconfig -a" and "lsmod" ).

It's not so convenience to debug the Beaglebone Black with just one USB cable.

@RobertCNelson ,can you fix it ?

thanks

[2014-09-18 03:57] #39 closed, assigned to nobody

[2014-10-01 19:58] bremenpl opened #40 "Debian console version partition problem (Bug)"
When building the Console image (debian-7.2.6-console-armhf-2014-09-04) using setup_sdcard.sh script and passing the argument --beagleboard.org-production the usb functionality is added. However, there is no way to use the separated space within the Beaglebone. One can mount the partition manually by mount /dev/mmclbk0p1 /boot/uboot/, but changes made in there are not happening. Also when mount is

[2014-10-03 17:51] bremenpl opened #41 "Cant boot without eth0 (bug)"
Hello there,
I am using the console version of Debian for BeagleBone Black. I have installed the gadget script that allows me to use usb device as network adapter (usb). Now when I boot the board it checks the eth0 and usb0. If they both are connected it boots really fast. Although if i shutdown the board now and take away the ethernet cable, the board will hang in the checking eth0 state (read fr

[2014-10-03 19:13] #41 closed, assigned to nobody

[2014-10-17 17:00] #40 closed, assigned to nobody

[2014-12-03 21:05] brnluiz opened #43 "BeagleBone + Custom Kernel (uBoot)"
I am trying to put the patches from OSADL on my BeagleBone Black but the problem is that I need a pre-installed system on my SD card. With setup_sdcard, which comes with debian demo image, I couldn't update the uImage (which I already have compiled) or anything like that.

I used the --beagleboard.org-production because then I would have the boot/ partition outside of the rootfs/. I tried to delet

[2014-12-10 15:08] rtrsparq opened #45 "difficulty reproducing image @ tag v2014.08"
It's probably just be finger trouble, guidance would be appreciated if it is. If there is a more appropriate place for this issue please don't hesitate in re-directing me there.

I've been trying to reproduce your pre-configured image BeagleBone/BeagleBone Black: v3.8.13-bone63 kernel as provided on elinux.org using tag v2014.08 but have been unsuccessful, both the image for microSD and the image

[2014-12-10 15:24] #45 closed, assigned to nobody

[2015-01-08 22:59] crunchex opened #47 "temporary directory: target is busy"
Sometimes if a rootfs build doesn't go well, a subseqeuent run will end with something like the following line:

umount: /home/crunchex/work/omap-image-builder4/ignore/tmp.3e5NsX4RjV/proc: target is busy
        (In some cases useful info about processes that
         use the device is found by lsof(8) or fuser(1).)

I suspect that this happens because a previous build might have gotten interrupte

[2015-01-08 23:49] RobertCNelson commented on #47
Yeah, if the run fails you'll have to unmount these 3 folders in the tmp directory:

[code]

[2015-01-10 22:34] crunchex commented on #47
The umount does work in most cases where the run fails.

Although I've run into a particular case where sudo umount -f doesn't work on ${tempdir}/proc and it still says "target is busy". This case seems to happen when I try to use repo_external, and specifically when I add packages to repo_external_pkg_list. This will cause the run to fail and I won't be able to unmount ${tempdir}/proc.

[2015-01-10 22:45] RobertCNelson commented on #47
Sounds like it's failing from the external repo. First do not enable the debian.beagleboard.org repo, the key expired, thus we can't update it at the moment.

Next check the run log.

[2015-01-11 22:39] crunchex commented on #47
Sorry, where is the run log?

I'm not using the debian.beagleboard.org repo, but one I added myself (along with its key): packages.namniart.com/repos/ros

The repository details can be found here: http://wiki.ros.org/indigo/Installation/UbuntuARM

But anyway, I don't think it's an issue with the repo as I can manually install the same packages once I boot up the board using the rootfs generated wi

[2015-01-12 16:10] RobertCNelson commented on #47
Hi Mike,
to check this i setup a quick 'ros-ubuntu' example and pushed it to the repo. Right now it's working in both qemu (via debian jessie) and native (i.mx6q)... Feel free to take ownership of that target.

[code]

https://github.com/RobertCNelson/omap-image-builder/commit/b47faea5c0f7c59d049f932242f91a592fe301b4

https://github.com/RobertCNelson/omap-image-builder/commit/1bb0fe5dc38eff6d5c171

[2015-03-28 08:02] robert-budde opened #54 "emmc-flasher does not set custom dtb in uEnv on eMMC?"
Hi!

I added an own config to the build system (https://github.com/robert-budde/omap-image-builder/blob/master/configs/ibb_gateway_debian_testing_armhf.conf) which sets chroot_uenv_txt="ibb_uEnv.txt". The file states "dtb=am335x-boneblack-ibb.dtb". Writing non-flasher sd-cards using setup_sdcard.sh works like a charm and makes the resulting card also use the referenced dtb, though using a flasher-

[2015-03-30 20:13] RobertCNelson commented on #54
That's very odd, as the eMMC flasher just modifies /boot/uEnv.txt it doesn't generate it from scratch:

https://github.com/RobertCNelson/boot-scripts/blob/master/tools/eMMC/init-eMMC-flasher-v3.sh#L360

So you custom dtb= define should stay their.

Regards,

[2015-04-09 07:55] robert-budde commented on #54
I could not find the reason for this but did a workaround by creating my own machine configs which include the specific dtb. Maybe this is also the more correct way of doing it.

[2015-04-09 07:56] #54 closed

[2015-06-18 08:58] zymxjtu opened #56 "temporary directory: random tempdir, need to re-download again if download fail."
Hi, one thing I encountered is that in the "RootStock-NG.sh", it will make temp directory which is random generated, for example, "tempdir=$(mktemp -d -p ${DIR}/ignore)" http://pastebin.ubuntu.com/11734252/

The problem is my network sometimes is unstable, and when it failed to download (and it always will :( ), everything that have been downloaded need to re-download again (Since another new diff

[2015-06-18 14:22] RobertCNelson commented on #56
It's mostly to ensure a clean working directory, also useful for a batch build where one of the builds fail.

To save on network bandwidth and make the script more reliable with a questionable network, install "apt-cacher-ng" on either your development host or a local server in your network, then just pass:
[code]
before
[code]
Regards,

[2015-06-18 15:10] zymxjtu commented on #56
Hi Robert,

Thanks. :+1: I believe I have the confidence that I can successfully build debian image for BBB using BBB now, will test the generated image tomorrow if everything goes well :)

Thanks for the suggestions, will try "apt-cacher-ng".
One error I encountered during my attempt to build debian image is "Hash Sum mismatch" error (when I tried to build debian image using my Ubuntu 14.04 X64 l

[2015-06-18 15:15] RobertCNelson commented on #56
The Hash Sum mismatch seems to happen when apt-cacher-ng hits teh ubuntu/debian mirror network.  I just disable that, as i'm always on testing/experimental so the mirrors see lots of updates. (for stable releases the mirrors are usually in sync..)

[code]

PS, while building it on x86 thru qemu 'sometimes' work, lots of random things can happen. ;)
Regards,

[2015-06-18 15:29] zymxjtu commented on #56
I see. :D

I'm always out of luck for the qemu error thing... 0.0
I believe I at least tried 5 to 6 times and none of them pass... 0.0
So in the end it was like OK, seems I have no luck here, time to move on. And I started to use BBB to build (painful thing is it is slow to do this kind of task and I'm building it inside Micro SD card which again is slow).

Good thing is I believe I can get my fre

[2015-06-18 15:45] zymxjtu commented on #56
May I ask mainly which hardware board you are using to build the image?
It is tough for BBB to do this kind of task. :)

[2015-06-18 15:53] RobertCNelson commented on #56
For official beagleboard.org images i use an omap5 with sata drive running Debian Stretch. http://www.svtronics.com/5432
The Wandboard-quad + sata drive is a cheaper solution and is my backup for when my omap5's are busy..
Regards,

[2015-06-19 10:37] zymxjtu commented on #56
Thanks Robert, I have successfully build the image for BBB. Settle some issues today and finally. Tested the generated image just now and it is working well :D.  The building process takes hours on BBB 0.0 :D.

Regards,
![1](https://cloud.githubusercontent.com/assets/11747018/8251793/19c1c492-16b2-11e5-8f30-13ee1270a6e7.png)
![2](https://cloud.githubusercontent.com/assets/11747018/8251797/284b3f98

[2015-06-19 10:37] #56 closed

[2015-06-30 03:02] jadonk opened #57 "Consider adding services for mdns"
This doesn't work from devices using this image:
<pre>
 ssh root@beaglebone.local
</pre>
This might help:
http://askubuntu.com/questions/460371/trouble-using-ssh-and-avahi

What worked for me:
<pre>
 sudo apt-get install -y avahi-dnsconfd libnss-mdns
 ping capetester.local
</pre>

[2015-07-01 15:47] #57 closed

[2015-07-05 13:45] g40 opened #58 "Failed to fetch cdrom://[Debian GNU/Linux 8 _Jessie_ ?"
Hi Robert,

Using a freshly cloned copy of this repo and attempting to build a image for Debian Jessie

[code]

[code]

Is this a local configuration problem? It looks like the Debian host is getting confused. The process works exactly as expected on a Mint distro host.

TAIA.

[2015-07-05 15:46] RobertCNelson commented on #58
Get rid of your bad apt line in /etc/apt/sources.list

[2015-07-06 12:16] g40 commented on #58
Done. Thanks. Appears to have been left behind by Debian Live installer.

[2015-07-06 12:16] #58 closed

[2015-07-25 08:40] zymxjtu commented on #56
Forgot to update here.

Not sure if it is appropriate, but I have created one Wiki page last month after I successfully build the image:
http://elinux.org/BeagleBoneBlack_Rebuild_Debian_Image_Using_image-builder

Just in case if some other people try the same thing and they will have a reference.

[2015-08-17 19:04] SplashX11 opened #60 "Beagleboard Rev C + 14.04 image"
I tried your ubuntu-14.04.2-console-armhf-2015-07-08.tar.xz image with my beagleboard rev C2. I found two issues. The MLO downloaded with setup_sdcard.sh does not work. After using an older version (v2015.04-r1 or v2015.01-r6) the board boots. Furthermore, the serial port in omap3-beagle.conf is set to ttyS2 but it has to be ttyO2. Otherwise a login from the serial port is not possible.

Nice to s

[2015-08-17 19:14] RobertCNelson commented on #60
So the goal to eventually get to ttyS2, we had a little misstep with v4.0.x where ttyS2 was causing issues so we have to revert to ttyO2, i think in my v4.1.x tree it's still ttyO2.. This should be ttyO2, sorry i didn't catch this, as debian/systemd fixes this up for us automaticly..
Regards,

[2015-08-17 19:23] RobertCNelson commented on #60
fixed in: https://github.com/RobertCNelson/omap-image-builder/commit/ac93d1f254ce1976cdbc4066c74de1ca235e7ce2

[2015-08-29 00:59] fivdi opened #61 "ref@1.1.0 isn't broken, it's the node version being distributed."
This commit [ref@1.1.0 is broken, make sure to install ref@1.0.2 before bonescript](https://github.com/RobertCNelson/omap-image-builder/commit/3521136146aaf27985ba0dc102f6e9249a586c64) appears to assume that ref@1.1.0 is broken and works around the issue for BoneScript. I guess that there was a compile error similar to the following installing ref@1.1.0
[code]
If the is the case, then it's not ref

[2015-08-29 01:43] RobertCNelson commented on #61
@fivdi

Testing it locally, ref@1.1.0 was failing too, so i down version-ed to ref@1.0.2..  i had thought npm would have used the local version of ref, but i guess "-g" bypasses that version..

but we have:
[code]
node was backported from stretch. ;)

I've also pinged @jadonk

As ref is a dependicy of iff:
https://github.com/jadonk/bonescript/blob/master/package.json#L33

i'm not sure how we defin

[2015-08-29 01:52] RobertCNelson commented on #61
@fivdi
but yet the same error as what you saw...

Wonder if it's one of the v8 lib's node is built-against?

[code]

[2015-08-29 01:59] RobertCNelson commented on #61
Interesting...

[code]

I'm going to  try:
[code]

[2015-08-29 07:56] fivdi commented on #61
The sub-dependices of ffi are defined by ffi itself. BoneScript [depends on ffi@1.2.6](https://github.com/jadonk/bonescript/blob/master/package.json#L33) and ffi@1.2.6 [depends on the latest version of ref](https://github.com/node-ffi/node-ffi/blob/v1.2.6/package.json#L26). The latest version of ref, which is currently ref@1.1.0, [depends on the latest version of nan@2](https://github.com/TooTallN

[2015-08-29 08:22] fivdi commented on #61
This issue is probably inappropriately titled. The title "ref@1.1.0 isn't broken, it's the **V8** version being distributed" would be better than "ref@1.1.0 isn't broken, it's the **node** version being distributed."

[2015-08-30 09:46] fivdi commented on #61
I just tried `npm install -g npm` and then both `npm install bonescript` and `npm install epoll` and everything installed without errors. The epoll tests also ran successfully. However, I don't think this is actually a sane thing to do.

Before `npm install -g npm`, the `v8.h` header file used to compile native addons is `/usr/include/vh.h`. This doesn't contain the REPLACE_INVALID_UTF8 patch and

[2015-08-31 13:59] RobertCNelson commented on #61
Found it:
https://sources.debian.net/src/libv8-3.14/3.14.5.8-10/debian/patches/nodejsREPLACE_INVALID_UTF8.patch/

Currently rebuilding libv8-3.14 for wheezy/jessie..
Regards,

[2015-08-31 15:38] RobertCNelson commented on #61
3.14.5.8-10 is now migrated to wheezy/jessie, and we don't need the npm install -g npm hack...

npm install bonescript@2.5.0

[2015-09-01 20:42] fivdi commented on #61
Tried it out with [bone-debian-8.1-lxqt-4gb-armhf-2015-08-31-4gb.img.xz](https://rcn-ee.com/rootfs/bb.org/testing/2015-08-31/lxqt-4gb/bone-debian-8.1-lxqt-4gb-armhf-2015-08-31-4gb.img.xz) and was able to install and test `epoll` successfully. Not sure why `./root/.node-gyp` is there, so I threw it away first. I guess this issue can be close so. The [recommend Debian image](http://beagleboard.org/l

[2015-09-01 20:42] #61 closed

[2015-09-01 20:44] RobertCNelson commented on #61
[code]
Should be enough to fix the 2015-03-01 release would work again. (it also needs that to fix cloud9, as the version in that release is busted in chrome. )

[2015-09-01 20:46] fivdi commented on #61
Thanks, I'll give that a try.

[2015-09-01 20:48] RobertCNelson commented on #61
./root/.node-gyp is there from the npm packages needed for cloud9... (underneath cloud9 is a mess)

Here's what we do:
https://github.com/rcn-ee/repos/blob/master/c9-core-installer/suite/jessie/debian/c9-core-installer.postinst#L136

Based on their "install" script:
https://github.com/c9/install

Regards,

[2015-09-01 22:21] fivdi commented on #61
Yes, it is enough to fix the 2015-03-01 release :+1:

[2015-10-27 02:10] sylencecc opened #63 "RootStock-NG.sh fails when using qemu-arm-static"
I'm currently unable to build BBB images on amd64 due to RootStock-NG.sh failing with:

    chroot: failed to run command ‘/bin/sh’: No such file or directory

The reason may be that in `scripts/chroot.sh` the qemu-arm-static binary, which is required when building on a different architecture, is removed from the chroot before the `cleanup_script.sh` was run.

[2015-10-27 02:23] #63 closed

[2015-10-27 02:24] RobertCNelson commented on #63
Sorry about that @sylencecc i don't usually test qemu anymore..

Regards,

[2015-11-30 20:58] sylencecc opened #64 "Bug in scripts/chroot.sh"
Hello,

since commit 91f43f7cb2c28e175f51a1e4338082835650293d I can't build the images anymore, because of the following errors:
[code]
The problem seems to be that the comparisons on that line are done with `==` as comparison operator instead of `=`.

[2015-11-30 21:05] #64 closed

[2015-11-30 21:06] RobertCNelson commented on #64
Sorry about that, a bashism crept in. ;)

[2015-12-08 21:13] Mausy5043 opened #66 "Inconsistent naming of `Adafruit_BBIO` module"
See this issue here: https://github.com/adafruit/adafruit-beaglebone-io-python/issues/86

Could the image builder be affected too?
Searching in this repository returns results for both flavors of the module name.
But I only find commented code.  It's late. Maybe I'm missing something. :sleeping:

[2015-12-08 21:20] RobertCNelson commented on #66
Well we install via:
[code]

[code]

On jessie:

[code]

[code]

It seems to be working out of the box...

[2015-12-08 21:21] RobertCNelson commented on #66
python3 isn't happy, thatll be an issue in stretch:

[code]

[2015-12-08 21:22] RobertCNelson commented on #66
and your example works in jessie to::
[code]

[2015-12-09 16:01] Mausy5043 commented on #66
I'm on:
[code]

Just to be sure: I'm using the wheezy distribution I got from here: http://beagleboard.org/latest-images .
I tried the Debian 8.2 image there but that seemed broken at the time. Are those the distros you're referring to?

[2015-12-09 16:03] RobertCNelson commented on #66
http://elinux.org/Beagleboard:BeagleBoneBlack_Debian#Debian_Image_Testing_Snapshots

[2015-12-09 16:10] Mausy5043 commented on #66
Testing Snapshots... :fearful:

[2015-12-09 16:44] RobertCNelson commented on #66
Yeap... "Testing Snapshots" means i'm actively testing them and pushing out weekly builds...

This should give a hint on how much "wheezy" actually gets tested by me.. (hint = none)..

Regards,

[2015-12-09 17:03] Mausy5043 commented on #66
Are you saying "jessie" is a better choice at the moment?

[2015-12-09 17:07] RobertCNelson commented on #66
Right now, only two things don't work as well in jessie's 4.1.x then wheezy's 3.8..

audio: bone-audio-cape-2
rs485: still works best in 3.8..

Otherwise, jessie is a 99% fill in for the old 3.8/wheezy image..

Regards,

[2015-12-09 17:08] RobertCNelson commented on #66
and one of the only reasons 'wheezy' is still defaut... there's many books written about it..

when the x15 actually launches, the jessie 4.1.x image will be default... (same kernel for both boards)

[2015-12-09 17:25] Mausy5043 commented on #66
OK. Thanks for the info. I'm expecting a new SD-card later this week. I'll try out `jessie` on the BBB when I get the new card. I already have it running everywhere else (RPi's and NAS), so that won't be a problem.

To make sure I understand the status of the various images lying around:
* http://beagleboard.org/latest-images has the latest official release.
* http://elinux.org/Beagleboard:BeagleB

[2015-12-12 10:31] Mausy5043 commented on #66
@RobertCNelson Sorry, but still not clear on this. I just got the snapshot https://rcn-ee.com/rootfs/bb.org/testing/2015-12-07/console/bone-debian-8.2-console-armhf-2015-12-07-2gb.img.xz and un-`xz`-ed it onto an SD-card.
Booting from the SD-card I get an empty system.

[2015-12-12 18:30] RobertCNelson commented on #66
Well that's the console image, if you want a full desktop use the image marked by lxqt...

[2015-12-12 19:46] #66 closed

[2015-12-28 20:19] hlapp opened #68 "Removing xscreensaver from autostart causes incorrect permissions"
It looks like most image generation script (specifically, all except machinekit-wheezy) remove xscreensaver from being auto-started by writing a filtered version of `/etc/xdg/lxsession/LXDE/autostart` to a temporary file which is then copied back. Unfortunately, this can, and at least for the latest Nov 12 debian wheezy image for BBB has resulted in incorrect permissions for this file, namely read

[2015-12-28 20:30] #68 closed

[2015-12-28 20:31] RobertCNelson commented on #68
thanks @hlapp i had never noticed.. i copied the machinekit version to all the other versions.

[2015-12-28 20:33] hlapp commented on #68
Thanks @RobertCNelson for the prompt fix - was just getting started on a PR with exact same fix :smile:

[2016-02-15 17:40] adilinden opened #69 "Getting g_serial in console image"
Hi,

I have been trying the prebuilt images on a BBB.  I am most interested in a very basic image, which I think the _-concole-_ images will provide.  However, I cannot get the USB serial gadget to work (I do not need the USB ethernet gadget).  Looking at the /opt/scripts/boot/am335x_evm.sh script it sees the the console build only has a single ext4 partition and does not use g_multi but uses g_et

[2016-02-15 17:46] RobertCNelson commented on #69
Just remove udhcpd:

[code]
It'll default to g_serial on bootup:

[2016-02-15 17:48] RobertCNelson commented on #69
btw, you can also cheat and just do:

[code]

Regards,

[2016-02-16 01:46] adilinden commented on #69
I tried

But on next boot I get:

It loads neither g_multi nor any other USB gadget kernel modules.

[2016-02-16 01:52] RobertCNelson commented on #69
darn i guess g_multi is smarter then that. .;)

[code]

[2016-02-16 02:11] adilinden commented on #69
Awesome, that did it! So g_multi is looking for a valid FAT image then?

[2016-02-24 19:52] spiderkeys opened #70 "Failure at bb-npm-installer.postinst step"
Trying to build an image that installs the experimental node v4.x. Our build was successful a couple weeks ago, but something about the bb-npm-installer involving an initial install of node v0.10 seems to be breaking the build now. We installed node v0.12, as shown in the other config files and there doesn't seem to be a package for nodejs-v0.10.x or nodejs-v0.10.x-legacy. Tried to match the other

[2016-02-24 20:31] RobertCNelson commented on #70
Sorry @spiderkeys, for about the nodejs v4.x option..

https://github.com/rcn-ee/repos/commit/91a9214d2ceabd02e5d0f223ba166bcb90190aaa

(i need to push a 4.x update to include a /usr/bin/nodejs-v4.x option..)

Regards,

[2016-02-24 21:44] spiderkeys commented on #70
No problem; definitely appreciate your work and responsiveness (and willingness to support our Node shenanigans). Will keep my eye out for the update.

[2016-02-26 01:51] RobertCNelson commented on #70
Hey @spiderkeys , i'm thinking about just adding this repo:

https://github.com/nodesource/distributions

[code]

[code]

Have you tried their builds before?

[2016-02-26 02:18] spiderkeys commented on #70
@RobertCNelson no, I don't believe we've installed any of their builds before, but reading through the open and closed issues, and their support version/platform list, I don't see any indicators that it wouldn't work for us. If that is the easiest way to proceed, I'd say go for it and we can try it out. It also seems like it would give us regular access to future builds with less work on your part

[2016-03-02 18:49] spiderkeys commented on #70
Marking this as closed. Updated to your recent commits and we now have a working node 4.3.1 via the nodesource packages. Thanks Robert!

[2016-03-02 18:49] #70 closed

[2016-03-16 00:24] spiderkeys opened #71 "Element14 Rev C ID"
There may be a typo or error with the last two bytes in the Rev C identifier under your EEPROM database section in the readme:

[code]

On our Element14 Rev C we read (not byteswapped):

[code]

[2016-03-16 02:05] RobertCNelson commented on #71
So, 'some' clones ended up being quite liberal on their choices, would you please confirm via:

[code]

Example:
[code]

[2016-03-16 02:12] spiderkeys commented on #71
[code]

[2016-03-16 02:27] RobertCNelson commented on #71
@jadonk can you ping them, is this a newer rev?

[2016-03-16 02:29] RobertCNelson commented on #71
Thanks @spiderkeys i've added it to the list, not sure what changed... Hopefully Jason can find out. ;)

[2016-03-17 15:47] RobertCNelson commented on #71
@spiderkeys , can you run the script again. (just pushed a change to also get the board serial number) we are trying to track what happened, but the ID number is also needed

[code]
[code]

Thanks!

[2016-03-18 01:19] spiderkeys commented on #71
[code]

[2016-03-29 14:27] mhaberler opened #72 "DE0-Nano-SoC kit - suboptimal partition layout"
hi Robert, not sure this is the place to discuss https://www.eewiki.net/display/linuxonarm/DE0-Nano-SoC+Kit#DE0-Nano-SoCKit-SetupmicroSDcard (pls advise otherwise)

the [partition layout as per GSRD recommendations](https://rocketboards.org/foswiki/view/Documentation/GSRD151SdCard) is a tad silly and can be improved:
- the vfat partition is not really necessary - the [/boot in ext4 rootfs](http://

[2016-03-29 14:34] RobertCNelson commented on #72
Yeah, right now it's sub-optimal, i tried your setup yesterday, but i couldn't get u-boot to load /zImage or the dtb from the /boot/xyz location.. (u-boot 2016.03) what was really weird the response from ls:

[code]

there seems to be a major mmc bug in the current u-boot code for this device...

[2016-03-29 15:58] mhaberler commented on #72
bizarre. Just noting I compiled u-boot natively on a cubox-i, gcc version 4.9.2 (Debian 4.9.2-10).

Can you point me to your u-boot binary so I can try?

[2016-03-29 16:19] RobertCNelson commented on #72
So it's just mainline no patches:

https://rcn-ee.net/repos/bootloader/socfpga_de0_nano_soc/u-boot-socfpga_de0_nano_soc-v2016.03-r6.sfp

[code]

/etc/ should be full....

[2016-03-29 16:22] mhaberler commented on #72
ok, rebuilt mainline v2016.03, installed that:

[code]

[2016-03-29 16:22] mhaberler commented on #72
[code]

[2016-03-29 16:23] mhaberler commented on #72
gut feeling - give gcc-4.9 a try

[2016-03-29 16:29] mhaberler commented on #72
nope, it isnt. Installed your binary on my SD:

[code]

must be something else. let me think.. bbl.

[2016-03-29 16:30] mhaberler commented on #72
hm, hardware revision? switches? crap on SD card  at the beginning?

[2016-03-29 16:35] mhaberler commented on #72
btw are you _positive_ there is something in /etc ? ;)

[2016-03-29 16:36] RobertCNelson commented on #72
the only id on this board: SoC-003-04034

Jumpers:
[code]

[2016-03-29 16:37] RobertCNelson commented on #72
Yeap, /etc/ is populated. ;)

[2016-03-29 16:39] mhaberler commented on #72
look at your / listing:

[code]
<DIR>       4096 etc
[code]

[2016-03-29 16:42] RobertCNelson commented on #72
Oh it's there, when i take a look at the card on another system..

[code]

[2016-03-29 17:25] the-snowwhite commented on #72
Sorry for barging in will just say something about the jumpers:

ON  = 0
OFF = 1

So this  looks like this on the circuit board:

1=on = 0
2=off = 1
3=on = 0
4=off = 1
5=on = 1
6=on = 1

Visually

[2016-03-29 17:26] mhaberler commented on #72
switches same here, dogtag: http://snag.gy/OImRQ.jpg

[2016-03-29 17:27] mhaberler commented on #72
Robert, can you upload your image? I'll poke around, want to know now ;)

[2016-03-29 17:27] the-snowwhite commented on #72
Good its just because the manuals are very confusing about this akwardness ON = 0

[2016-03-29 17:31] the-snowwhite commented on #72
I have very strong recommendations for sticking to

gcc 4.9
uboot 2016.01
altera socfpga 3.10-rt-ltst
Quartus generated .dtb  + rbf.
Based upon the DE0_NANO_SOC GHRD release from Terasics NANO 1.0 release
Debian Jessie armhf.

[2016-03-29 17:33] the-snowwhite commented on #72
This is the combination that has been manifesting successful results

[2016-03-29 18:52] mhaberler commented on #72
btw I used fdisk for partitioning the SD

[2016-03-29 21:06] mhaberler commented on #72
I rebuilt an SD manually according to your website instructions, your u-boot, using sfdisk, layout as proposed, extracted my rootfs tar - I cannot reproduce the problem

please upload your image so I can check on my boards (hey, DigiKey customer ;), then at least we can narrow it down to hardware vs image/sd card

[code]

[2016-03-29 21:24] mhaberler commented on #72
btw - if you get the image running, could you check if it works reliably with 1GB/s ethernet?

we had issues (worked fine at 100MB/s) and it turned out to be a device tree issue

the r/txc-skew-ps params here must be commented out when using a recent u-boot: https://github.com/torvalds/linux/blob/v4.4/arch/arm/boot/dts/socfpga_cyclone5_de0_sockit.dts#L68-L70

symptom is - incoming packets are fine

[2016-03-30 01:37] mhaberler commented on #72
@RobertCNelson - could you check if your ext4 root file system has the `huge_file` flag set? (mine does)

`tune2fs -l  blockdevice  |grep huge`

it seems u-boot ext4 support requires this; as a consequence the kernel should have it too (CONFIG_LBDAF=y)

you can toggle that flag with tune2fs

makes the difference in uboot?

[2016-03-30 16:19] desflynn opened #73 "Correct usage of local --bootloader argument in create-sdcard.sh?"
Hey,

I'm trying to insert a custom built bootloader (from RobertCNelson/Bootloader-Builder) locally during the image creation of a jessie distro.

I put the built  MLO-am335x_evm-v2016.03-r6 and u-boot-am335x_evm-v2016.03-r6.img into a folder under omap-image-builder and added --bootloader ../../mydir/ to the setup-sdcard.sh command, but the script exits inside local_bootloader () with an error c

[2016-03-30 16:24] RobertCNelson commented on #73
use
[code]
I don't think i had relative path's working 100%...

[2016-03-30 16:27] desflynn commented on #73
Awesome, it's building as we speak!

Thanks!

[2016-03-30 16:27] #73 closed

[2016-03-30 18:27] mhaberler commented on #72
I'm onto a different trail

I used fdisk and that leaves 2048 sectors before the first partition - I note sfdisk does not do this

Note the uboot [socfpga default config for mmc](https://github.com/RobertCNelson/u-boot/blob/master/include/configs/socfpga_common.h#L291-L294) stores the persistent uboot environment **right after the MBR**, this obviously assumes the fdisk behavior of starting the fi

[2016-03-30 18:56] mhaberler commented on #72
ok, after installing sfdisk 2.28 the partitioning issues went away immediately - after playing with sfdisk 2.25 (jessie) for too many hours I'd recommend against using it - too many issues

@RobertCNelson - which one did you use?

[2016-03-30 19:00] RobertCNelson commented on #72
@mhaberler I'm on Debian Stretch, so 2.27.1, there's a lot oddities with sfdisk <= 2.25, once ubuntu 16.04 get's released, i'm going to nuke all 2.25 references...

* we had moved to sfdisk over fdisk a few years back, as fdisk was having other issues..

[2016-04-01 16:14] RobertCNelson commented on #72
@mhaberler @the-snowwhite found it...

For the last couple days I was tasked at fixing an old 3.8.x image, which ended up having the exact same problem.. e2fsprogs...  On Debian Stretch/Testing, e2fsprogs 1.43 migrated over 1.42 on 2016-03-28..

One of the changes in 1.43, was to enable for ext4 "metadata_csum & 64bit" by default..

[code]

Now it works perfectly fine..  I haven't tested any other

[2016-04-01 16:19] mhaberler commented on #72
congratulations - happy to hear you nailed it! now it makes all sense that my install worked and yours did not, since using straight jessie here

I'm almost done adding the changes for the separate a2 partition and should have something for this repo early next week (on the assumption we're not both working on it, right?)

[2016-04-01 16:59] RobertCNelson commented on #72
@mhaberler yeah, i'm leaving for the day shortly, so i won't be tweaking stuff till sunday. ;)

Now that we know why, i'll finish my u-boot patch, so we can do:

partition 1: A2
partition 2: ext4 boot/rootfs..

with /boot/uEnv.txt (uname_r) lookup..

Regards,

[2016-04-10 13:38] mhaberler opened #75 "package lists cant be diffed"
the package lists in the .conf files cannot be reasonably diffed and massaged by meld

I'd propose to change the habit to transform them from:
[code]
into this:
[code]
This Emacs Lisp fragment does the job - mark a region including quotes and hit M-/ - replaces the region with a sorted list of packages, one per line

Emacs lisp: https://github.com/mhaberler/omap-image-builder/commit/a8099e6ed5b728

[2016-04-10 13:57] RobertCNelson commented on #75
Makes perfect sense, I'm on board with it.

[2016-04-10 14:00] mhaberler commented on #75
ok, then what I will do is

- crawl back to your master, and take the liberty to fix up your configs which are relevant to us with this wonderful macro ;) so far they are building fine
- propose a PR
- then massage my configs accordingly

[2016-04-22 16:12] mhaberler commented on #75
merged

[2016-04-22 16:12] #75 closed

[2016-04-23 00:35] hongquan opened #77 "debian-8.4-iot image lacks ntpdate"
This image lacks `ntpdate` and `ping` command requires root permission to run.

[2016-04-23 00:40] RobertCNelson commented on #77
@hongquan don't use ntpdate, systemd-timesyncd is enabled by default...

https://www.freedesktop.org/software/systemd/man/systemd-timesyncd.service.html

(ntpdate has no clue if the network is 'up' so it errors out on startup, whereas systemd-timesyncd knows when the network is connected..)

ping, it should be enabled...

https://github.com/RobertCNelson/omap-image-builder/blob/master/target/chroo

[2016-04-23 01:39] hongquan commented on #77
Thanks

[2016-04-23 01:39] #77 closed

[2016-05-20 07:10] marcosscriven opened #78 "Is this the official build for Debian on BBB?"
I'm not quite sure if the scripts here are the ones used to produce the images at https://beagleboard.org/latest-images ?

Have you thought of setting up Travis on here (since it's open source), then GitHub would be hosting all the latest images automatically.

[2016-05-20 07:26] marcosscriven opened #79 "Explanation of the different configs"
Please can you clarify what each config is for? There seems to be various components in the name:

- There's ```distro-release```, like ```debian-wheezy``` or ```ubuntu-xenial```, which is clear enough
- There's ```bb.org```, ```eewiki```, ```rcn-ee```, ```machinekit```, &```seeed-debian```. I've no idea what each of those are. I've heard of ```machinekit``` (LinuxCNC successor), but I thought tha

[2016-05-20 07:29] marcosscriven opened #80 "crda package in a few configs, but not all"
I noted some CRDA issues when using @eliasbakken's Kamikazee distro, forked from this repo.

All I needed to do was `apt-get install crda`, and looking through your configs, the `rcn-ee` flavours have this in their `deb_include` list. Is there any reason the others don't?

[2016-05-20 10:56] marcosscriven opened #81 "BBB-eMMC-flasher-ubuntu-16.04-console-armhf-2016-05-12-2gb.img.xz"
Sorry for opening a few issues at once!

I downloaded and flashed this image onto my rev A5C BBB: https://rcn-ee.com/rootfs/2016-05-12/flasher/BBB-eMMC-flasher-ubuntu-16.04-console-armhf-2016-05-12-2gb.img.xz

I monitored bootup via the JTAG serial console, and have a few questions:
1. Connman waits two minutes for a network connection
2. pru firmware is not loading (I'm not sure if that's just be

[2016-05-20 15:02] RobertCNelson commented on #78
Yes they are..

Travis has a 50 minute timeout, since they are x86, this script would use qemu, which pretty much doubles the build time.

We already have a Jenkins server where regression testing on each commit occurs.

[2016-05-20 15:07] RobertCNelson commented on #79
Read the readme.md for the top 4.

On the last, getting a large subsystem like dt-overlays take a lot of time and work. Since v4.1.x a lot of things are in-flight to mainline..

[2016-05-20 15:09] RobertCNelson commented on #80
The package list probably needs to be reviewed and minimized.  Aka, another package depends on cards...

[2016-05-20 15:12] RobertCNelson commented on #81
1. Is new
2. That's your job as the end user.
3. That's u-boot ignore.
4. Correct

[2016-05-22 15:23] marcosscriven commented on #79
Thanks for response - I did of course check the readme

However, the first half appears to be hex fingerprints for board revisions, and the second half seems to just have code examples of calling scripts with various ```-c``` options, which even once you realise is the config option, doesn't really seem to explain what ```bb.org```, ```seed-debian``` etc are.

[2016-05-22 15:23] #79 closed

[2016-05-23 01:04] RobertCNelson commented on #79
bb.org -> beagleboard.org -> https://rcn-ee.net/rootfs/bb.org/testing/ -> http://beagleboard.org/latest-images

seeed -> http://www.seeedstudio.com/

[2016-05-23 15:30] marcosscriven commented on #79
Thanks for the responses @RobertCNelson

[2016-06-27 05:47] jadonk opened #84 "Update bonescript"
With the download link, I'm not sure how I should update bonescript version to -beta9.

[2016-06-27 15:15] RobertCNelson commented on #84
So bonescript's npm package is pre built on a jessie image with nodejs v0.12.x installed via:

https://github.com/rcn-ee/npm-package-bonescript

Regards,

[2016-06-27 15:33] RobertCNelson commented on #84
https://github.com/rcn-ee/npm-package-bonescript/commit/87b17b9c86ec3e6b4c46ed4265c67398440ac26e

[2016-07-05 03:16] hankchan commented on #77
when the network is not 'up' on startup,ntpdate may return error date.I've had this kind of problem.

[2016-07-22 01:21] subspclr4 opened #85 "Xenomai kernel issue on Arrow BeagleBone Black"
Hello,

I am having an issue booting a Xenomai Linux kernel on an [industrial temperature rated BeagleBone Black](https://www.arrow.com/en/products/bb-bblk-000-itemp/arrow-development-tools) I purchased from Arrow electronics.

I’m not sure where’s the best place to post, but I am posting to the [omap-image-builder](https://github.com/RobertCNelson/omap-image-builder) project because the issue app

[2016-07-22 02:00] RobertCNelson commented on #85
@subspclr4 So the problem with the Arrow board, they swapped out the NXP based HDMI framer for an Analog Devices unit.  The Analog Devices patches where written for v4.1.x:

https://github.com/RobertCNelson/ti-linux-kernel-dev/tree/ti-linux-4.1.y/patches/beaglebone/abbbi

With some work, these could be back-ported to our 3.8.13 based kernel.

Regards,

[2016-07-22 16:03] subspclr4 commented on #85
@RobertCNelson Thank you for the quick reply.

That is unfortunate to hear about the HDMI framer.  Is it possible adjust the Device Tree to disable / workaround this HDMI conflict?  For my application I believe (based on [this post](https://nathanielrlewis.com/archives/author/nathaniel)) that I need to disable HDMI anyway since it's muxed with the extra encoder pins I'm looking to use.

I agree th

[2016-07-22 20:19] #71 closed

[2016-07-24 05:29] jadonk commented on #71
The report from E14 is they took this number "00C0" from the SRM.

[2016-08-22 16:36] mhaberler commented on #72
Hi @RobertCNelson

we're readying the machinekit SoC/FPGA images for both the CycloneV and Zynq platforms, starting from a debian-8.5-console config, and I am switching to your master

on the `partition 1: A2`  u-boot-with-spl.sfp install - is that finished? how would I go about it? or do I need to carry forward my setup_sdcard.sh cludges ;-?

[2016-08-23 16:09] mhaberler opened #86 "fixing ping broken as long as tar is used"
in [this patch](https://github.com/RobertCNelson/omap-image-builder/commit/d40a4efdaa41cd54cc2ed7863c5691c3e9f43064)  I tried to fix the ping permissions issue "properly" by using setcap if available

that works within the chroot:

[code]

but as soon as the chroot file system is wrapped into a tar archive the capabilities are either gone, or cannot be restored by any combination of `--xattrs` or

[2016-08-23 16:18] RobertCNelson commented on #86
@mhaberler sure, we could add it to the list of rootfs finalization tweaks before here:

https://github.com/RobertCNelson/omap-image-builder/blob/master/tools/setup_sdcard.sh#L1454

Regards,

[2016-08-23 16:19] RobertCNelson commented on #86
Or... we could patch the "ping" debian package and revert the port 80 ping limitation...

[2016-08-24 08:22] sylencecc opened #87 "Seperate boot partition on BBB"
Hello,

is the classical layout with a separate boot partition still supported on the Beaglebone Black? The official hwpack files don't use it anymore and if I change bootloader_location to 'fatfs_boot' and conf_boot_fstype to 'fat', the flasher fails with 'Failed to mount /' after copying all files over to eMMC.

[2016-08-24 15:13] RobertCNelson commented on #87
Hi @sylencecc the separate boot partition is still supported, on boards based on omap35xx/dm37xx silicon, since the bootrom wasn't updated till the omap4/am335x generation.  In the beaglebone.conf file under hwpack change:

[code]

to:
[code]

To specify the fat partition size (default is 12Mb (smallest valid fat16)), the former size was "96", so add this to beaglebone.conf

[code]

Regards,

[2016-08-24 15:17] RobertCNelson commented on #87
@sylencecc oh and what flasher? (file name and value of version_message in script)..

[2016-08-24 15:20] sylencecc commented on #87
Thanks so far, I'm trying it out right now!
I'm using the current flasher (as far as I understood the setup_sdcard.sh script always fetches the newest one from the repo anyway):
init-eMMC-flasher-v3.sh
1.20160718

The last time I built images without issues was back in February, but my omap-image-builder from that time doesn't generate working flashers anymore, too. I guess that is either because

[2016-08-24 15:28] sylencecc commented on #87
Sorry for the inconvenience, but I just noticed that I can't even get the regular flasher (single-partition) without any modifications on my side to work.
All I did was
[code]
Then after flashing the resulting to a SD card and inserting it everything looks alright. This process ends with
[code]
After restarting the device it either starts flashing again if I leave the SD card inserted (this wasn't

[2016-08-24 16:22] RobertCNelson commented on #87
Just ran the un-modified:

ARM:
[code]

x86:
[code]

flashed and booted fine..

[code]

Next i'll add the beaglebone.conf modifications and rerun...

Regards,

[2016-08-24 16:26] RobertCNelson commented on #87
[code]

[2016-08-24 16:29] sylencecc commented on #87
I'm also in the process of building clean images from the unmodified repository. I'm not running Rootstock on a native ARM machine, but on qemu. Not sure if this is an issue, it wasn't in the past. Is `bmaptool` optional? I'm using `dd` to write the img files directly to SD.

[2016-08-24 16:33] sylencecc commented on #87
Building the clean default image (using dd instead of bmaptool and qemu-arm-static) still lead to an unbootable system. I made a gist with the serial console output of the whole process (inserting flasher SD and removed it for the first manual power cycle):
https://gist.github.com/sylencecc/85c17c6da9b5473a410ac7d87f80f75c

[2016-08-24 16:47] RobertCNelson commented on #87
This get's closer:
[code]

just add teh
[code]

It's failing here:

fixed: https://github.com/RobertCNelson/boot-scripts/commit/cadd682ed5c308524e2764733cfbfe0a5388b427

[code]

bmaptools is just way faster then dd. ;)
qemu-arm-static works fine, native on a quad core arm is just faster...

Regards

[2016-08-24 16:55] RobertCNelson commented on #87
Okay, so here's where i broke it:

https://github.com/RobertCNelson/omap-image-builder/commit/0260050539f98174bce73824e347fa851fe45d10

Most of that was okay, except for this hack:

[code]

i need to add "bborg_production" or similar flag, and overide that partition creation section..

Regards,

[2016-08-24 16:59] sylencecc commented on #87
I figured that this commit broke something, but didn't know the under-the-hood details to build a workaround.

I'm still struggling to build the default single-partition flasher, though. Do you see anything unusual in the gist log I posted above? I'm currently saving the output of the qemu build process to browse it for errors later. If that doesn't lead to anything, I might try to run Rootstock o

[2016-08-24 17:02] RobertCNelson commented on #87
Give this change to "setup_sdcard.sh" a shot:

https://github.com/RobertCNelson/omap-image-builder/commit/f24e65c7b7b63a13c41216f893cde05529101722

wget https://github.com/RobertCNelson/omap-image-builder/raw/master/tools/setup_sdcard.sh

untested, but i think it'll work, heading to lunch, so be back in a bit..

Regards,

[2016-08-24 19:10] RobertCNelson commented on #87
okay everything looks good here:

[code]

[2016-08-25 08:25] sylencecc commented on #87
Alright, I'm eager to try out that layout, since my use case heavily relies on that single FAT partition. However, I'm still unable to build a single flasher that actually works. I just ran Rootstock on a Beaglebone, like you described above. Everything seems to build without any issues, the flasher also does what it's supposed to, but after a restart I'm back at square one: The board can't find a

[2016-08-30 14:41] schallee commented on #87
Following along as my use case has a strong need for a separate boot partition (eg: unstable power). Tell me if you'd prefer this in a separate issue as this one has diverged towards flashing issues.

When I change the options to include --enable-fat-partition I do get two partitions but the boot partition is actual ext4 (which is actually preferred by me and my use case but not what --enable-fat-

[2016-08-30 14:48] RobertCNelson commented on #87
@schallee for un-stable power, use:

[code]
It's hardcoded to 2048:
https://github.com/RobertCNelson/omap-image-builder/blob/master/tools/setup_sdcard.sh#L1705

So you'll have to play with that variable depending on the rootfs size..

Regards,

[2016-08-30 16:30] schallee commented on #87
Yeah, I'm headed for --ro but even with that I need to be able to do OS upgrades even on flaky power. Of course you have to mount -oremount,rw /boot to to upgrade kernels but it is still a smaller window then apt-get upgrade. Being able to get an initramfs off of boot that can do a fsck is still of value.

[2016-08-30 16:33] RobertCNelson commented on #87
@schallee well what you really want is /boot/<zImage/initrd.img/dtbs> on ext2, then the rootfs split in two, ro and var..

Regards,

[2016-08-30 18:04] schallee commented on #87
Exactly. Sorry I didn't explain it too well. Something with a fstab like

/dev/mmcblkXp2 / ext2 ro
/dev/mmcblkXp1 /boot ext2 ro
/dev/mmcblkXp3 /var ext4 rw

I'm thinking to put the sensor feeds, the volume of which is yet to be determined, on a sdcard to reduce the wear on the emmc.

Thanks

[2016-09-10 12:50] gtortone opened #88 "conf_kernel not defined"
Hi,
after image built with:
./RootStock-NG.sh -c rcn-ee_console_debian_jessie_armhf

if I run (in deploy/<rootfs>)
sudo ./setup_sdcard.sh --mmc /dev/sdc --dtb am57xx-beagle-x15

it exits with:

[code]

could you take a look ?

Thanks in advance !

[2016-09-10 13:27] gtortone commented on #88
Never mind !

I just realized that I have a directory called "rootfs" inside working directory and this creates some ambiguity with find_issue function...

please close this ticket...

Regards

[2016-09-28 01:11] jadonk commented on #85
@subspclr4 It is indeed possible to cut it out of the device tree and run with a 3.8 kernel. Did you figure it out?

[2016-10-02 00:59] subspclr4 commented on #85
@jadonk No, not yet, but that's mainly because I haven't made it a priority given other project deliverables.  My first pass at adding `cape_disable=capemgr.disable_partno=BB-BONELT-HDMI,BB-BONELT-HDMIN` to uEnv.txt worked as expected on an ordinary BeagleBone Black with the 3.8.13 Xenomai kernel, but didn't solve the problem on the Arrow board with the same kernel.

My next thoughts were to try r

[2016-10-26 22:29] ElSordo opened #90 "Disabling all USB Device behavior except for chosen HID class"
I'm trying to define an hid device using ConfigFs.  The problem I run into is that when I try to set up the UDC attribute of the device that I have defined, I get a device busy error.

I'm running BBB 4.4.9-ti-r25.

In looking at the output of lsusb, I see a lot of modules that depend on libcomposite.  So, what I would like to do is to remove all of them, e.g., usb_f_acm, g_serial, u_serial, ...

[2016-10-27 00:03] RobertCNelson commented on #90
They get loaded by an early ran boot script under: /opt/scripts/boot/

Remove this block:

https://github.com/RobertCNelson/boot-scripts/blob/master/boot/generic-startup.sh#L72-L75

Regards,

[2016-10-27 19:16] ElSordo commented on #90
The fixed worked like a charm.
I'm up and running with my hid function.
Thanks

[2016-10-27 19:16] #90 closed

[2016-10-27 21:05] ElSordo commented on #90
Worked like a charm

Thanks

On 10/26/2016 08:03 PM, Robert Nelson wrote:

[2016-12-15 05:26] mrudulachougule commented on #43
Hi Robert,

I am building file system using build root. before that i was using Ubuntu 16.04 file system maintained by you as  mentioned in below link;
https://eewiki.net/display/linuxonarm/BeagleBone+Black#BeagleBoneBlack-HDMI

As build root does not provide "apt-get" support, i am not able to use bb.org-overlays for lcd dts loading
Could you please share your views how to create Ubuntu filesyste

[2016-12-15 14:43] RobertCNelson commented on #43
@mrudulachougule

source is here https://github.com/beagleboard/bb.org-overlays/

Regards,

[2016-12-15 14:43] #43 closed

[2016-12-21 12:35] mrudulachougule commented on #43
Hi Robert,

Greetings!! Thank you for sharing source path.

Could you please share your views on generating Ubuntu 16.04 root
fileSystem.

I am working on building root file system for beagle bone black using
Buildroot. Since Buildroot does not support gcc and few packages which
would be required to compile bb.org-overlays
<https://github.com/beagleboard/bb.org-overlays/>. Could you please share
d

[2016-12-21 14:54] RobertCNelson commented on #43
@mrudulachougule buildroot supports gcc..

this repo:

https://github.com/RobertCNelson/omap-image-builder

Generates ubuntu rootfs's

Regards,

[2016-12-26 14:06] mrudulachougule commented on #43
Hi Robert,

Thank you for sharing details. You have done great Job!  It's good document
to start with.

I am able to build rootfs using "debootstrap". I want to customize this
rootfs and apt-get installation running on Beaglebone taking more time. So
want to emulate ARM platform on Ubuntu  16.04 using QEMU.

Can I use rootfs which is built using omap-image-builder
<https://github.com/RobertCNelson

[2017-01-03 07:13] mrudulachougule commented on #43
Hi Robert,

I am working on Qt5 application development. Before that I want to
configure QT5 package for beagle bone board.

I am using *qt-everywhere-opensource-src-5.7.0 *source code and want to
configure / compile the same.

As I am installing packages directly in file system running on SD Card, it
is taking more time.
Can I create virtual environment on Host system and do the same
configuratio

[2017-01-03 14:53] RobertCNelson commented on #43
@mrudulachougule this is off topic for "omap-image-builder"..

qt-everywhere-opensource-src is not a package in debian, qtbase-opensource-src is available and built:
https://packages.debian.org/source/jessie/qtbase-opensource-src

Regards,

[2017-01-05 04:48] mrudulachougule commented on #43
Hi Robert,

Thank you for sharing details. You have done great Job!  It's good document
to start with.

I am able to build rootfs using "debootstrap". I want to customize this
rootfs and apt-get installation running on Beaglebone taking more time. So
want to emulate ARM platform on Ubuntu  16.04 using QEMU.

Can I use rootfs which is built using omap-image-builder
<https://github.com/RobertCNelson

[2017-01-05 22:40] RobertCNelson commented on #43
@mrudulachougule my kernel does not include support for versatile.

Regards,

[2017-01-06 07:57] mrudulachougule commented on #43
All right!!

I am having some trouble in customizing your root file system.
I am following steps mentioned in this link
https://github.com/RobertCNelson/omap-image-builder,.

I have created file system for ubuntu xenial. Once
armhf-rootfs-ubuntu-xenial.tar is generated, I'm extracting it to ./rootfs
directory and doing chroot to rootfs (chroot ./rootfs/ /bin/bash)  for
installing LCD and touch scr

[2017-03-03 16:05] bigguiness opened #97 "beaglebone-universal-io"
Is this package available as a .deb or only as the git repo?

It appears to be installed on the wheezy lxde and jessie lxgt images but it is missing on both the console images.

Thanks

[2017-03-03 16:11] RobertCNelson commented on #97
i need to package this..

[code]

[2017-03-03 16:14] bigguiness commented on #97
Doesn't it actually need to be built and installed in order for the overlays to be in /lib/firmware?

[2017-03-03 16:17] RobertCNelson commented on #97
no it's just a shell script to help interpret /sys/...

[2017-03-03 17:52] bigguiness commented on #97
I understand that config-pin is a shell script. But doesn't it need the overlays from the repo?

[2017-03-03 17:57] RobertCNelson commented on #97
the overlays are provided by the bb-cape-overlays package.

[2017-03-03 22:10] bigguiness commented on #97
Isn't that package only available on the jessie images?

[2017-03-03 22:14] RobertCNelson commented on #97
Jessie/Stretch and Xenial

[2017-03-04 04:11] jadonk commented on #85
Matt Porter at Konsulko might have a good suggestion.

[2017-03-04 04:15] jadonk opened #98 "Some helpful packages for Blue"
I'd really like to have mjpg-streamer and avahi-utils installed by default. While it is generally easier to get on a network in a classroom setting now, having avahi-utils really helps find other boards on the network and mjpg-streamer gives a nice quick demo.

[2017-03-04 17:53] RobertCNelson commented on #98
mjpg-streamer is already installed in the iot and lxqt-4g, i'll add avahi-utils now..

[2017-03-15 22:28] BrianAdams opened #100 "Another BeagleBone Black revision number in the wild"
aa5533ee41333335424e4c5430303042

May  have been from an Element14 run

Labeled as a Revision B

[2017-03-16 00:04] RobertCNelson commented on #100
@jadonk another one snuck by..

@BrianAdams run this with the wp-grounded on the eeprom  (TP4)

[code]

[2017-03-29 08:43] QuickJack opened #101 "ureadahead main process terminated with status 5"
It seems that ureadahead does not work. However, it slows down the boot process.

It can be disabled manually:
`
$ sudo systemctl disable ureadahead.service
$ sudo systemctl mask ureadahead.service
`

Is there a way to disable ureadahead by default in the generated images?

[2017-03-29 15:30] #101 closed

[2017-03-29 15:31] RobertCNelson commented on #101
@QuickJack i agree!  Yeah we don't have the ubuntu patchset to actually use this feature.

Thanks!

[2017-05-10 16:26] #98 closed

[2017-05-10 16:30] jadonk commented on #100
2GB eMMC? Rev B is listed on the wiki: http://elinux.org/Beagleboard:BeagleBoneBlack#Revision_B

[2017-05-11 20:34] JochiPochi commented on #98
@RobertCNelson, mjpg-streamer and avahi-utils are definitely nice to have but there is something uncomfortable about adding packages out of the blue just because we like them.
What if some users don't want this?
What worries me is that each time more additions like this happen, the images built with the omap-image-builder deviate more and more from a standard Ubuntu and Debian installation but the

[2017-05-11 20:38] JochiPochi commented on #98
I can see that conman was just removed 1 hour before I made the previous comment. I'm happy about that, but it's also a surprise. I just know that because I happen to read this issue. And that's kind of my point. Now that the beaglebone is being used by so many people, for education, industry and hobbyist surprises can be huge sinks of time.
@RobertCNelson @jadonk thoughts?

[2017-05-11 20:46] RobertCNelson commented on #98
@JochiPochi for a more virgin install, just use the netinstall

[code]

Regards,

[2017-05-11 22:34] JochiPochi commented on #98
@RobertCNelson, Thank you. This clarifies a lot. I think I got a bit confused because all the images on elinux.org and beaglebone.org have very similar names so I didn't realize
https://github.com/RobertCNelson/netinstall
produced what I was looking for.

I'm going to start playing with it right away.

[2017-05-22 19:10] jadonk commented on #100
@RobertCNelson will support for Rev B be added, since it is valid?

[2017-05-22 19:21] RobertCNelson commented on #100
@jadonk @BrianAdams can we get the hexdump version:

[code]
Regards,

[2017-05-24 07:11] jadonk opened #102 "Stretch missing some packages previously in Jessie"
fbset - despite https://github.com/RobertCNelson/omap-image-builder/blob/master/configs/rcn-ee_console_debian_stretch_armhf.conf#L27

Not sure what else, but I ran into that one.

[2017-05-26 16:00] jadonk opened #103 "Stretch: connman needs to be restarted occasionally"
I keep seeing connman getting into a state where DHCP loses its IP address and restarting the daemon fixes it.

[2017-05-26 16:06] jadonk opened #104 "Stretch: connman needs restart"
I keep seeing connman getting into a state where DHCP loses its IP address and restarting the daemon fixes it.

[2017-05-26 16:06] jadonk commented on #104
Ooops, I entered this twice: #103

[2017-05-26 16:06] #104 closed

[2017-05-26 16:53] jadonk commented on #102
@RobertCNelson also missing 'ruby'. Even though the ruby library isn't there, many other things depend on ruby---like jekyll.

[2017-05-26 19:36] RobertCNelson commented on #102
@jadonk what else uses jekyll?  the bone101 is pre-run thru jekyll at deb creation time so we don't need the jekyll binary installed for that.

[2017-05-30 15:53] jadonk commented on #102
less

[2017-05-30 15:53] jadonk commented on #102
@RobertCNelson fair enough... I was rebuilding bone101, which is why I was using it. Guess there isn't anything else I'm using it for.

[2017-06-02 03:01] hongquan opened #105 "Kernel 4.4, wrong ethernet IP"
Hi,
I tried the image of image built on May 2017, Debian and Ubuntu, on my BeagleBone Black revC. There is problem with networking:

- Appear 2 USB network: usb0 and usb1
- eth0 gets wrong IP from dhcp

Output of `ip addr`:

[code]

I expect eth0 to be 192.168.1.x.

[2017-06-02 09:03] hongquan commented on #105
Found out that actually the Ethernet port of my BBB is broken :-(

[2017-06-02 09:03] #105 closed

[2017-07-02 00:33] saeugetier opened #106 "MachineKit is not ready for Kernel 4.4"
The current MachineKit version is not ready for Kernel 4.4. Kernel 3.8 should be User instead. Please don't publish any further MachineKit images with Kernel 4.4.

Reference:
https://groups.google.com/forum/m/#!topic/machinekit/FOntRBEnw-A

[2017-07-02 03:43] RobertCNelson commented on #106
@saeugetier okay good to know, i'll mark machinekit as EOL then....

NO ONE is working on it.

You are stuck on the 3.8.x kernel which means Blue, Black Wireless, Green Wireless, PocketBone etc don't work..

If you want my builds in the future, just let me know when you guys port to Xenomai 3.0.x (from the current 2.6.x)..

The LAST 3.8.x based build from me is here:

http://elinux.org/Beagleboard

[2017-07-05 21:39] DuaneEllis-TI opened #107 "Proxy override/disabling Issues"
These overrides should not exist.

* https://github.com/beagleboard/image-builder/blob/master/scripts/chroot.sh#L326
* https://github.com/beagleboard/image-builder/blob/master/scripts/chroot.sh#L330

They are most likely unique to someones test or development environment, in contrast when others are truely behind a proxy and must use a proxy these two settings cause nothing but problems.

[2017-07-05 21:54] RobertCNelson commented on #107
Testing this:

https://github.com/RobertCNelson/omap-image-builder/commit/c90e7368b3e905a579951f9177a47bac31561730

Right now:
http://gfnd.rcn-ee.org:8080/job/bb.org-debian-jessie-lxqt-4gb-v4.4/82/console

I don't remember if it was wheezy apt-cacher-ng issue or what, so let's see what the builder does. (running debian stretch)

Regards,

[2017-07-05 23:46] DuaneEllis-TI commented on #107
Looking at the output of Jenkins it does fail.  That said, I think this proxy configuration is 100% unique to your Jenkins build environment.

For example, if I was to setup a proxy environment why would I choose these two sites and not two other sites to require a direct connection.

[2017-07-06 00:29] RobertCNelson commented on #107
Yeap, it failed, so i can't just remove it, instead i need to work around it..

Regards,

[2017-07-06 00:32] #107 closed

[2017-07-18 20:18] #8 closed

[2017-07-18 20:18] #10 closed

[2017-07-18 20:19] #9 closed

[2017-07-18 20:19] #15 closed

[2017-07-18 20:19] #16 closed

[2017-07-18 20:20] #47 closed

[2017-07-18 20:20] #69 closed

[2017-07-18 20:20] #60 closed

[2017-07-18 20:20] #78 closed

[2017-09-04 08:02] Pillar1989 opened #108 "stretch: couldn't be accessed by user '_apt'. - pkgAcquire::Run (13: Permission denied)"
Hi
I used ./RootStock-NG.sh -c bb.org-debian-stretch-lxqt-v4.9.conf build stretch image.   Get apt warnning.
[code]

[2017-09-04 16:40] RobertCNelson commented on #108
this isn't a bug, it's an annoying feature of apt in stretch. Just ignore all "Download is performed unsandboxed as root as file" msg's..

[2017-09-05 00:49] Pillar1989 commented on #108
Really ? I didnt search any official  explanation .

[2017-09-05 01:32] RobertCNelson commented on #108
Early on in the Stretch cycle this error printed out:

[code]

It was later changed to:
[code]

Essentially, "as" root we used "apt" and download a *.deb file (or files) thru the network.  "apt" has a new feature to download the *.deb file as "_apt" user (non-root, non-login, sandboxed/etc..).

However at the time of this error in our script, we still do not have a non-root account available for u

[2017-09-05 01:35] Pillar1989 commented on #108
Thank you,  Get it.

[2017-09-05 01:35] #108 closed

[2017-09-27 20:09] ulitiy opened #109 "PWM permission problem with new unrooted environment"
[code]

I get `Error: EACCES: permission denied, open '/sys/devices/platform/ocp/48300000.epwmss/48300200.pwm/pwm/pwmchip0/pwm0/enable'` when trying to `analogWrite` so I've added rules

[code]

but it doesn't persist after reboot. How can I fix that permanently?

[2017-09-27 20:33] RobertCNelson commented on #109
This patch:

https://github.com/RobertCNelson/bb-kernel/blob/am33x-v4.11/patches/drivers/pwm/0001-pwm-Create-device-class-for-pwm-channels.patch

or v4.11.x-bone+ kernel or later:

Regards,

[2017-09-27 23:19] ulitiy commented on #109
@RobertCNelson can you tell me where can I find a usable kernel-bonescript pair, please?
I've installed "testing" kernel, 4.13.4-bone1, and apparently pwm paths are not compatible with this kernel.
As for the patch http://elinux.org/BeagleBoardLinuxKernel looks a bit complicated, I'd better go for an older version with root-env but the one that works. `Debian 8.7 2017-03-19 4GB SD LXQT` can you te

[2017-09-27 23:45] RobertCNelson commented on #109
@ulitiy and you see why i haven't backported that patch to v4.4.x/v4.9.x..

bonescript needs to be patched. (and also the adafruit library), you'll notice in the pwm patch it's only 3 more characters.  creating issue here:

https://github.com/jadonk/bonescript/issues/156

Regards,

[2017-10-23 15:08] wdurocher33 opened #110 "IP Address change in /etc/network/interfaces is added as secondary IP"
Because of compatibility with other devices, we are trying to configure a BBBW through the /etc/network/interfaces. The issue we are encountering is that the IP address we configure is used as a 'secondary' IP when the interface is restarted.

Example: Changing the wlan0 interface static IP Initially we have one IP on wlan0

output from "ip a s":

ifconfig shows:

We edit /etc/network/interfaces w

[2017-10-23 15:10] wdurocher33 commented on #110
Also note that the device is accessible through the new IP provided. But we really do not want the old IP to remain. It will be assigned to a different device.

[2017-10-23 15:11] wdurocher33 commented on #110
Forgot to mention that is behaviour is present on both the Debian and the Ubuntu 16.04.3 images.

[2017-10-23 15:17] RobertCNelson commented on #110
My first guess, your probably fighing connman, so make sure that's removed.

Regards,

[2017-10-23 16:17] wdurocher33 commented on #110
We have already disabled connman on the Debian distribution. On the Ubuntu 16.04 distribution connman does not appear to be available.

[2017-10-23 16:38] wdurocher33 commented on #110
Though as mentioned, I have seen this on both the Debian and the Ubuntu 16.04.3 image I will concentrate only on the Ubuntu image. So as to reduce confusion.

[2017-10-23 16:48] wdurocher33 commented on #110
It appears that if the IP address is removed for the IP configuration via the command:

ip address del xx.yy.zz.aa/mm dev mydevice

The network restart forgets the IP address in question. The issue still remains that this is not the expected behaviour. Is there a script of file that would keep track of the IP addresses currently configured ?

[2017-12-13 18:43] QuickJack opened #111 "Legal implications for commercial use"
What are the legal implications of using the generated Ubuntu/ Debian images in a commercial product?

It is possible to get the sources using apt-get source. It should also be possible to write a script to generate a file which includes copyright & license information for all packages. This is required by the GPL and/or other licenses.

[2017-12-13 18:59] RobertCNelson commented on #111
@QuickJack

A few years ago, we made sure to always package up the src via:

[code]
It wasn't 100% reliable...

Debian: is pretty clear on this, you can read their notes here:

https://www.debian.org/doc/manuals/debian-faq/ch-redistrib.en.html

Ubuntu: personally i don't use it or follow it enough anymore to say yay/nay...

Regards,

[2017-12-17 23:03] patrickpoirier51 opened #112 "4.14.6-bone-rt-r10 missing wlan for Blue + pin control issues"
Try to make a new Image for the Blue for  ArduPilot Flight controler using latest Debian and rt-4.14

Seems that am335x-boneblue-wl1835.dtsi is missing on 4.14.6-bone- rt-r10 branch so I had this error on startup:
[  406.627162] wlcore: ERROR ELP wakeup timeout!
[  706.627220] wlcore: ERROR ELP wakeup timeout!

So I dtb-rebuild adding the wireless file and adding the adc patch to the blue dts : ht

[2017-12-18 20:29] RobertCNelson commented on #112
@patrickpoirier51 looks like screwed up the irq used by the wl1835 when i submitted to mainline:

https://github.com/RobertCNelson/linux-dev/commit/1b4bec0097a39bd98abff83c683d8bd46679da71

Regards,

[2018-01-04 02:25] #112 closed

[2018-01-04 02:47] patrickpoirier51 opened #113 "PocketBeagle takes 2 Minutes to start"
Pocket Beagle with sensor cape and WIFI on a TP-LINK 722N
Boot sequence :
0-15 seconds Uboot
15 - 60 secs  gets in a WAIT STATE  === Does it perform a File System repair ? = same delay with or without a shutdown
60-90 Goes to login
90-120 Seconds Wireless is detected

Does 2 minutes for complete boot sequence is normal ?
In the type of application we are looking for (Flight Controler) this is a co

[2018-01-04 02:54] RobertCNelson commented on #113
can you post your full kernel log, i know wifi can take a 'bit' to connect, but with v4.14.x i've been trying to cut things way down.. < 1 second boot, < 10 seconds login...

[code]

[2018-01-04 03:00] RobertCNelson commented on #113
PS, how do you guys feel about a "special" console build...  i'm thinking a "really" cut down kernel, with "just" enough ardupilot stuff, maybe btrfs with snapshot support enabled?

[2018-01-04 03:00] patrickpoirier51 commented on #113
cat file.log
-- Logs begin at Thu 2016-11-03 17:16:43 UTC, end at Wed 2018-01-03 22:46:05 UTC. --
Nov 03 17:16:43 beaglebone kernel: Booting Linux on physical CPU 0x0
Nov 03 17:16:43 beaglebone kernel: Linux version 4.14.5-bone-rt-r8 (root@b9-am57xx-beagle-x15-2gb) (gcc version 6.3.0 20170516 (Debian 6.3.0-18)) #1 PREEMPT RT Tue Dec 12 22:12:53 UTC 2017
Nov 03 17:16:43 beaglebone kernel: CPU: ARMv

[2018-01-04 03:19] RobertCNelson commented on #113
you should update the kernel:
[code]
I see a few things i've moved to built-in..

These are wasting a few clock cycles for you on bootup..
[code]

Regards,

[2018-01-04 03:22] patrickpoirier51 commented on #113
OK sir will do... its getting a little late here toight , will report back tomorrow
Thanks for your work and support 👍

[2018-01-04 18:04] patrickpoirier51 commented on #113
Did Update & removed stuff, but still taking 2 minutes

[2018-01-04 23:12] patrickpoirier51 commented on #113
I removed board from system and
sudo systemctl disable dnsmasq
sudo systemctl disable hostapd
sudo systemctl disable arducopter
sudo systemctl disable  apache2

Connected to ttyS0 and looked at boot sequence
Its taking 10 secs to get to this:
[    1.031050] omap_voltage_late_init: Voltage driver support not added

and then it wait (just the blue heartbeat) until exactly 60 seconds and it continues

[2018-01-18 23:42] patrickpoirier51 commented on #113
UPDATE:
I have been able to reduce to 1:06  minute using  this image:
https://rcn-ee.net/rootfs/bb.org/testing/2018-01-07/stretch-console/

git:/opt/scripts/:[b372df3221bb67a9a09c6b89df5110ca32a9e482]
eeprom:[A335PBGL00A21736GPB40029]
model:[TI_AM335x_PocketBeagle]
dogtag:[BeagleBoard.org Debian Image 2018-01-07]
bootloader:[microSD]:[/dev/mmcblk0]:[U-Boot 2018.01-rc3-00002-gb33224]
kernel:[4.14.1

[2018-01-21 16:49] RobertCNelson commented on #113
I wonder if we start building in the wireless stack..

I'll run some tests with that idea. ;)

Regards,

[2018-01-23 18:12] RobertCNelson commented on #113
Okay some numbers (on v4.14.14-ti-r26)
[code]
Gives us about a 1.5 second speed up..

Then with: (random usb wifi adapter)

[code]
Gives me about 4 second speed up..

Ps, in the stretch-console, install "connman" then comment out eth0 in /etc/network/intefaces

[code]
Regards,

[2018-01-23 18:34] RobertCNelson commented on #113
Here's the config change, i'll push out a kernel build shortly to make it easy for you to tset:

https://github.com/RobertCNelson/ti-linux-kernel-dev/commit/9ec77983c27c79604fe798f3945be9713614dd36

Regards,

[2018-01-23 18:37] patrickpoirier51 commented on #113
OK I will give it a try, Thanks !

Please note I am testing  both with connman and hostapd with a TP-LINK TL-WN722N
https://github.com/PocketPilot/PocketPilot/blob/master/Pocket%20Instructions.txt

With the actual PocketPilot prototype, i need to add allow-hotplug in order to get the wlan started:
allow-hotplug wlan0
auto wlan0

[2018-01-23 18:45] RobertCNelson commented on #113
Looking at https://github.com/PocketPilot/PocketPilot/blob/master/Pocket%20Instructions.txt

I see you swapping connman for hostapd.

Connman actually has a built-in "tether" option, that's a little faster then hostapd. (although it doesn't support as much)..

[code]
and then you don't need dnmasq

Regards,

[2018-01-23 18:59] patrickpoirier51 commented on #113
Robert,
connman makes things so much easier,  the  problem with the pocket  is
twofold:
A) tether needs an ethernet port to attach
B) we operate a drone, so there is no physical ethernet connexion available

If you know how to ''trick'' conman to make it teher to a virtual
connection and assign a specific dhcp range I would be please to implement

Best Regards

2018-01-23 13:45 GMT-05:00 Robert Ne

[2018-01-23 19:03] RobertCNelson commented on #113
i wonder if something has changed in connman, i've used it before as a tether, when no eth0 was present (or populated)... i'll test that again shortly, need to solder a new usb-header on a pocketbeagle..

[2018-01-23 19:06] patrickpoirier51 commented on #113
Well, actually it starts but there is no ipv4 on the wifi, so i deducted i
it could not associate a dhcp because of the non existing theter... I
stopped my investigation there.

2018-01-23 14:03 GMT-05:00 Robert Nelson <notifications@github.com>:

[2018-01-23 19:06] RobertCNelson commented on #113
i think it's because i kill:

[code]
Regards,

[2018-01-23 19:07] RobertCNelson commented on #113
Otherwise, my connman main.conf has:

[code]
and settings has:

[code]

[2018-01-23 19:16] patrickpoirier51 commented on #113
Interesting, will give it another try, that really makes a the project easier to implement :-)

btw, I damaged USB1 on the pocket while doing tests because I have not installed ESD protecton on my header. I know that Digi-Key has this product available:
https://www.digikey.com/product-detail/en/wurth-electronics-inc/8492121/732-5676-1-ND/4947875

I wonder if you had a chance to test it or better,

[2018-01-23 19:45] RobertCNelson commented on #113
Sure, i'll pull that one tomorrow and give it a test.  It's too late in the day here to get it from downstairs. ;)

Regards,

[2018-01-23 22:48] patrickpoirier51 commented on #113
I diasbled  hostapd & dnsmasq , removeved wlan0 from /etc/network/interfaces and enabled connman
I used your config 7 main file and systemctl disable connman-wait-online.service || true

Same issue = no IPV4:

wlan0: flags=-28605<UP,BROADCAST,RUNNING,MULTICAST,DYNAMIC>  mtu 1500
        inet6 fe80::f6f2:6dff:fe15:e79b  prefixlen 64  scopeid 0x20<link>
        ether f4:f2:6d:15:e7:9b  txqueuelen 10

[2018-01-24 14:54] patrickpoirier51 commented on #113
Just read that I could probably set it manually:
https://stackoverflow.com/questions/31943490/how-to-set-static-ip-address-using-connman-for-wifi-network

 I managed to get a static IP address by manually creating a file named "settings" inside the directory:  /var/lib/connman/wifi_<HASH>_managed_psk/ with the following content:[wifi_<HASH>_managed_psk]  Name=<SSID>                       ←Name of

[2018-01-25 02:05] patrickpoirier51 commented on #113
After more reading and test I think that we cannot use tether as a single interface because its bridged to the ethernet (physical or  rndis). Unless we can creata a virtual device wit a fixed address on wich the connman dhcp service can assign ipv4, I dont see how it could work.
So for the moment I will leave my instructions untouched.

[2018-01-26 18:53] patrickpoirier51 commented on #113
I am going to close this issue because the startup delay is acceptable now.
I would appreciate your comment on the ESD USB connector.
Hope you dont mind I name you in this blog ?
https://discuss.ardupilot.org/t/pocketpilot-a-new-linux-fc-based-on-the-25-pocketbeagle/25253

[2018-01-26 19:54] RobertCNelson commented on #113
i think the ESD connector will work.. just don't bug wire it, i was getting cable issues, but finally smoked the usb port..
Your post looks awesome, can't wait for the pcb's.. ;)

[2018-01-26 19:54] #113 closed

[2018-02-22 18:42] razed11 commented on #85
We just ran into this. Have a deadline to ship units and couldn't source the Element14 board. We're running `3.8.13`. I'd prefer not to have to have to two SD cards for production. Do we think that removing HDMI from the device tree would work on both boards?

[2018-02-22 18:45] RobertCNelson commented on #85
@razed11 the hdmi encoder is the only difference, if your not using video, just remove it.

[2018-02-22 19:50] razed11 commented on #85
Sorry @RobertCNelson: Remove it in what way? Do I find the source for one of these and rebuild?

[2018-02-22 19:54] RobertCNelson commented on #85
@razed11 use https://github.com/RobertCNelson/yakbuild

use the "recipe.sh.v3.8.x.sample" sample

then change kernel_tag="3.8.13-bone86" -> kernel_tag="3.8.13-bone62"

You'll find the hdmi cape under /firmware/capes/ or similar and nuke the file and the reference in teh same dir's makefile..

Regards,

[2018-02-22 19:55] razed11 commented on #85
Is found an included dtsi. Remove these and rebuild?

[2018-02-22 19:59] RobertCNelson commented on #85
yeap

[2018-02-23 04:11] razed11 commented on #85
@RobertCNelson Not much luck so far. I used yakbuild (which I used successfully in the past to increase the SPI buffer size). I removed the HDMI dts files from `KERNEL/firmware/capes`. There is no makefile in that directory but I removed the reference in `KERNEL/firmware/Makefile`. Using `dtc` to convert it back to dts I get:

[2018-03-20 17:11] wdurocher33 commented on #110
The issue is caused by BBB scripts that add the current IP address on a network restart.
My solution was to switch to networkd service.

[2018-03-20 17:11] #110 closed

[2018-03-30 02:22] smithwinston opened #114 "Read-only root fs with eMMC flasher"
I see the `--ro` option, but when I combine it with `--emmc-flasher`, the resulting image has a split 2GB/2GB flasher image, but what it sets up on the BBB is a single partition (not a split ro/rw partition).

Is there a way to build an eMMC flasher image that during the installation process partitions the BBB eMMC with a read-only root fs and a r/w every-thing-else fs? (it would also be great to

[2018-03-30 02:27] RobertCNelson commented on #114
@smithwinston the "--ro" flag needs some work.  I tested it about a month ago with jessie it didn't work.

For reference, i originally wrote that for the debian squeeze era (2011) and i still have one squeeze device (bb-xm, 3.0.x based kernel)...

Regards,

[2018-03-30 13:20] smithwinston commented on #114
@RobertCNelson It does appear to _sort of_ work; here's an `lsblk` of my SD card on a BBB after flashing (with the SD card inserted):

[code]

You can see `mmcblk0p1` is 2GB and `mmcblk0p2` is 1.3GB (this is a 4GB image).  Obviously when installing to the eMMC on the BBB (see `mmcblk1p1`), the script is not creating the r/o root fs.

Thank you for all the great work you do!

[2018-05-11 16:13] linuxtim opened #115 "/etc/apt/apt.conf.d/02compress-indexes may need updating due to new behaviour in stretch?"
WRT https://github.com/RobertCNelson/omap-image-builder/blame/8e7de51b50a2a9b25d2a37d6a73f9cf69eaa9078/scripts/chroot.sh#L326

... the behaviour in stretch has changed.  With the config as-shipping by omap-image-builder, this now:

- Downloads gziped packaged files (even if more highly compressed formats are available - such as xz)
- Re-compresses them with the lz4 algorithm (lower CPU usage to de

[2018-05-14 15:38] #115 closed

[2018-05-14 15:38] RobertCNelson commented on #115
@linuxtim thanks for the configuration hints!  Initially I was just trying to save space, i've added your last option as a default for stretch+

[2018-06-25 10:54] d78ui98 commented on #108
So this is just a warning that I can ignore?

[2018-06-25 13:28] RobertCNelson commented on #108
@d78ui98 not our bug, talk to upstream developers of "apt" in debian..

[2018-06-25 13:45] d78ui98 commented on #108
@RobertCNelson I am getting this warning only when I am using `vagrant cachier` plugin. Should I report to developer ?

[2018-06-25 13:50] RobertCNelson commented on #108
@d78ui98 do whatever you want, it's not my package/bug... It's just a warning from apt..

[2018-06-25 13:51] RobertCNelson commented on #108
renamed, hopefully users googling doesn't find this out of topic issue..

[2018-07-04 12:39] mrudulachougule opened #116 "Squashfs on Beagle Bone Black with u-boot 2016.11"
Hi,
We have beagle bone black with ubuntu 16.04 filesystem up and running. Filesystem is built using omap-image-builder and now want to use squash file system.

Please share your views/ inputs on booting beagle bone black with squashfs.

[2018-07-04 14:10] RobertCNelson commented on #116
Sorry, no experience with squashfs.

Feel free to submit a pull request to support such feature..

Regards,

[2018-07-04 14:10] #116 closed

[2018-07-04 14:11] #114 closed

[2018-07-04 14:11] #111 closed

[2018-07-04 14:11] #109 closed

[2018-07-04 14:11] #106 closed

[2018-07-04 14:12] #102 closed

[2018-07-04 14:12] #100 closed

[2018-07-04 14:12] #88 closed

[2018-07-04 14:12] #72 closed

[2018-07-04 14:12] #97 closed

[2018-07-04 14:13] #87 closed

[2018-07-04 14:13] #84 closed

[2018-07-04 14:13] #80 closed

[2018-07-04 14:13] #85 closed

[2018-07-04 14:14] #86 closed

[2018-07-04 14:14] #81 closed

[2018-07-04 14:14] #29 closed

[2018-07-05 06:30] mrudulachougule commented on #116
Sure. Will definitely submit ..
Currently i am planing to boot beagle bone with initrd.
Do you have initrd image for beagle bone black?

Please do share the image if you have or share the details to create the
initrd for beagle bone black.

Thanks,
Mrudula

On Wed, Jul 4, 2018 at 7:40 PM, Robert Nelson <notifications@github.com>
wrote:

[2018-07-05 10:55] mrudulachougule commented on #116
Hi Robert,

I can mount ext4 filesystem as a read-only.
Please share any other ways where in filesystem can be mounted as a
read-only.

Thanks,
Mrudula

On Thu, Jul 5, 2018 at 12:00 PM, Mrudula Chougule <chougulemrudula@gmail.com

[2018-07-05 10:55] mrudulachougule commented on #116
Hi Robert,

Can I mount ext4 filesystem as a read-only?
Please share any other ways where in filesystem can be mounted as a
read-only.

Thanks,
Mrudula

On Thu, Jul 5, 2018 at 4:24 PM, Mrudula Chougule <chougulemrudula@gmail.com>
wrote:

[2018-07-05 13:47] RobertCNelson commented on #116
@mrudulachougule that's been the default for a long time.

Patches welcome

Regards,

[2018-07-15 13:29] JacksonBanbury opened #117 "wget: missing URL for osd335x-blank-eeprom"
I am trying to create an sd image for an osd335x-based board with a blank eeprom, but running the setup_sdcard.sh fails as follows:

[code]

Looking at https://rcn-ee.com/repos/bootloader/latest/bootloader-ng there does not seem to be a link for "am335x_blank_bbbw", the conf_board listed in the osd335x-blank-eeprom.conf file.

The script works as expected for other board configs, like plain "beagl

[2018-07-15 16:29] #117 closed

[2018-07-15 16:31] RobertCNelson commented on #117
@JacksonBanbury yeah osd335x-blank-eeprom was a test *.conf at first it looked like we would need a custom memory init, but it turned out to be 100% compable with bbb in u-boot... So just use "bbb-blank-eeprom"..

Regards,

[2018-07-15 18:33] JacksonBanbury commented on #117
Great, will do. Thanks for the quick update Robert.

[2018-08-01 10:00] vijaypanchal opened #118 "QEMU is un-reliable, thus no longer supported."
QEMU is un-reliable, thus no longer supported.

[2018-08-01 11:52] RobertCNelson commented on #118
@vijaypanchal why did you open this issue?

The most common qemu "lockup" occurs when running this single command:

[code]

Regards,

[2018-08-07 14:29] #118 closed

[2018-10-11 17:56] sinback commented on #78
This is an old thread, but I'm curious about this comment that using qemu makes the build "longer". Is this still true? Is the build time using qemu on a build server really double that of running the build on a BBB itself?? or are you using a more powerful ARM build server than the BBB?

[2018-10-30 13:03] tany5522 opened #120 "BBGW not booting with Arago images"
Hi,
I have created images using Arago build:
The images are:
MLO
U-boot.bin
zImage
dtbs
core-image-base-am335x-evm-20181030062907.rootfs

I have copied the MLO, u-boot.img, uEnv.txt, zImage to the boot partition of the SD
Extract the rootfs to rootfs -partition of the SD

My  uEnv.txt sets the following:

"
bootpart=0:2
bootdir=/boot
bootfile=zImage
console=ttyO0,115200n8
fdtaddr=0x88000000
fdtfil

[2018-10-30 13:38] RobertCNelson commented on #120
@tany5522, Closing, sorry this isn't related to "omap-image-builder", you need to contact the team that developed your Arago build..

Regards,

[2018-10-30 13:38] #120 closed

[2018-11-21 04:23] jeholliday opened #121 "Bionic: kmod breaks any new images"
I noticed recently that any bionic image I built with this script was failing to load any kernel modules at boot time. This can be observed by issuing `lsmod`. A good BBB will list a large number of loaded modules, while an affected BBB will return nothing.

I narrowed the image down to system dependencies either of my host machine or the image by repeating a build of an older version of the scrip

[2018-11-21 04:43] RobertCNelson commented on #121
@jeholliday nice! you found it!!

That now explains this regression i was debugging today:

https://forum.digikey.com/t/beaglebone-black-ubuntu-18-04-nfs-server-issue/2154/8

Background: we patch kmod to support *.xz modules so our kernel footprint is about 1/2 of what it use to be under /lib/modules/.  It's a simple patch as kmod already supports *.xz we just need --use-xz to be passed on configu

[2018-11-21 04:44] RobertCNelson commented on #121
Rebuild done and rsync'ed to apt repo..

[code]
Should bring in the new kmod and make things work again..

I'll work on an 'apt hold" routine for tomorrow.

Regards,

[2018-11-21 23:08] jeholliday commented on #121
I can confirm that the update to kmod has fixed this issue, so I will close this issue.

[2018-11-21 23:08] #121 closed

[2019-04-03 19:15] bdube opened #123 "Question about background operations"
https://github.com/RobertCNelson/omap-image-builder/blob/a032246f888850b628ddb96ca4754fc38e11150b/beagleboard.org_stretch_image.sh#L39
https://github.com/RobertCNelson/omap-image-builder/blob/a032246f888850b628ddb96ca4754fc38e11150b/beagleboard.org_stretch_image.sh#L66

The two linked lines above run the compression in the background. Can I ask about your execution context or workflow? When I use

[2019-04-03 19:37] RobertCNelson commented on #123
@bdube , true we could drop the "-v" in those images..

Truefly i never run the base ./*.sh scripts:

[code]

They are only there for new users, who want to generate a base image..  For a long time they were way out of date.

I only run the ./publish/rcn_ee*.sh images

and i've merged most of rcn-ee_bb.org-stable.sh into those base *.sh

Regards,

[2019-04-03 20:30] bdube commented on #123
Ok, thanks for the clarification.

In our fork, I think I'm going to leave the `-v` and let it run in the foreground. That way I don't need to do any chasing to find out when it's complete.

[2019-04-03 20:30] #123 closed

[2019-07-21 18:41] jadonk opened #124 "install python3-libgpiod on iot images"
Needed for rcpy

[2019-07-22 00:59] RobertCNelson commented on #124
fixed with: https://github.com/RobertCNelson/omap-image-builder/commit/f0736fda14c4bf3967bad1914cf3c84c2f74bd00

also out starting with today:

https://rcn-ee.net/rootfs/bb.org/testing/2019-07-21/buster-iot/

Regards,

[2019-07-22 00:59] #124 closed

[2019-12-11 16:40] jcwren opened #125 "apt-get unhappy because of directory permissions"
When running `RootStock-NG.sh`, I get errors like those shown below for the following modules:
* `libuchardet0_0.0.6-3`
* ` libpruio-modules-4.19.79-ti-r30`
* `rtl8723bu-modules-4.19.79-ti-r30`
* `rtl8821cu-modules-4.19.79-ti-r30`
* `ti-cmem-4.16.00.00-modules-4.19.79-ti-r30`

The issue appears to be that `/var/cache/apt/archives/partial/` has the following permissions/ownership:
[code]
This direc

[2019-12-11 17:06] RobertCNelson commented on #125
Duplicate: https://github.com/RobertCNelson/omap-image-builder/issues/108

It's just a warning in apt, we are running the chroot as "root" but apt wants to be run as sandboxed "_apt" user.. yeah, don't worry about it..

Closing, it's a "feature"/bug/warning in apt..
Regards,

[2019-12-11 17:06] #125 closed

[2019-12-15 08:04] kzoltaan opened #126 "Add Beaglebone AI config"
Can you add hwpack config for beagelebone ai? And when I build image for bbai with bb.org-debian-buster-console-xm.conf, there is no am5729-beagleboneai.dtb in dtbs directory.
thanks

[2019-12-15 16:15] RobertCNelson commented on #126
@kzoltaan a new config isn't needed for the AI, use

[code]

as it's unified..

Regards,

[2019-12-15 16:17] #126 closed

[2020-03-10 23:10] drmpeg opened #128 "Wrong ti-cmem-modules package"
Just ran ./RootStock-NG.sh -c rcn-ee_console_ubuntu_bionic_armhf on a BeagleBoard-X15 and got this error.

E: Unable to locate package ti-cmem-modules-4.19.94-ti-r36
E: Couldn't find any package by glob 'ti-cmem-modules-4.19.94-ti-r36'
E: Couldn't find any package by regex 'ti-cmem-modules-4.19.94-ti-r36'

I'm guessing it should be ti-cmem-4.16.00.00-modules-4.19.94-ti-rt-r36 instead?

[2020-03-11 00:47] RobertCNelson commented on #128
@drmpeg , sorry after pushing these changes today, I ended up going down a rabbit hole of figuring out why my Jenkins test server quit working. So never had time to look at the build looks, Yes, we need to update the cmem.

[2020-03-11 01:39] #128 closed

[2020-04-26 03:34] drmpeg opened #129 "rcn-ee_console_ubuntu_focal_armhf permission issues"
I'm getting some permission errors running ./RootStock-NG.sh -c rcn-ee_console_ubuntu_focal_armhf.
[code]
and a few more.

BTW, no rush on this. I'm just trying to help out with the debugging.

[2020-04-26 03:39] RobertCNelson commented on #129
Just anther duplicate of https://github.com/RobertCNelson/omap-image-builder/issues/108

Not a bug, just apt complaining..

[2020-04-26 03:39] #129 closed

[2020-05-25 17:23] szobov opened #130 "BeagleBoneBlack turn into a brick after `apt upgrade` on freshly installed image"
Hi there!
I have working BeagleBone Black with installed `Ubuntu 18.04`. After I've executed `apt update && apt upgrade` and rebooted, but my BeagleBone didn't wake up. It didn't start to answer on serial port, even on my laptop I didn't see anything in `dmesg` when I connect it.

I've decided to unfold new fresh [version](https://rcn-ee.com/rootfs/2020-03-12/flasher/bone-eMMC-flasher-ubuntu-18.04

[2020-05-25 17:38] RobertCNelson commented on #130
[code]

This broke the kernel modules..

Building right now:

https://github.com/rcn-ee/repos/commit/31b7df6c7b33e4df638f2f6e2748f47902b4f287

Regards,

[2020-05-25 17:51] RobertCNelson commented on #130
Update pushed to apt repo, background...

To save space, our kernel config compress all kernel modules as *.ko.xz kmod is perfectly happy loading compressed modules as long as it's "built" with the library...

https://github.com/rcn-ee/repos/blob/master/ubuntu-1804-kmod/suite/bionic/debian/rules#L21

At this point, ubuntu 18.04's kmod is the "last" hold out to not have this enabled by default. So

[2020-05-25 17:53] RobertCNelson commented on #130
For reference:

[code]
4.19.73-ti-r29 = uncompressed
4.19.79-ti-r30 = xz compressed

[2020-05-25 17:57] szobov commented on #130
You're the best, man, and you're doing amazing work.
But I still don't understand why my already working OS just broke, but, yes, OK.
Thanks for this quick reply.

[2020-05-25 18:08] RobertCNelson commented on #130
On bootup, the kernel (thru kmod) will try to load up everything it needs.. Most of which we have selected as built-in, but there are a few sub-systems that can't handle that very well. For example, libcomposite and all the usb gadet modules, which we use to create the usb-network/usb-serial and usb-flash default interfaces.  So in ubuntu 18.04 with kmod not built to handle compressed kernel *.ko.

[2020-05-25 19:12] szobov commented on #130
Yes, now I see.
Thank you a lot again.

Btw, may be an option of have image, that include everything to work. Because personally me, and I suppose also some people could accept that trade-off. For me larger image is better than broken system.

[2020-05-26 06:40] szobov commented on #130
Hello again @RobertCNelson
I've just roll out freshly flashed image and tried to update packages again.
The error still presence.
[code]
But now BeagleBone can be restarted.
So, I'll close this issue, because the problem now isn't so harsh, but I feel that we need more options to prevent this issue to be open again.
Thanks.

[2020-05-26 06:40] #130 closed

[2020-05-26 13:36] RobertCNelson commented on #130
[code]

5.4.24-armv7-x20 => BeagleBoard/BeagleBoard-xM
4.19.94-ti-r36 => BeagleBone (all am335x varients) and BeagleBoard-x15/BeagleBone-AI

[2020-05-27 19:46] Goostavo opened #131 "Debian/Beaglebone clock changing to wrong date (conflict between coonmand and systemd-timesyncd))"
# The Error

Tested on multiple beaglebones green and beaglebone green wireless with Debian 9.9 IoT and Debian 10 IoT clean on Brazil (UTC -3).

All of them are having the same error. Something reseting the systemtime.

The correct time in my TZ is `sex fev 21 12:55:52 -03 2020` and in UTC `Fri Feb 21 15:56:06 UTC 2020`. But it's showing UTC as 12:56.

Running multiple `timedatectl` returns:
[code

[2020-05-27 19:46] Goostavo commented on #103
Cant you try the solution posted on my issue, it may be related? [Connmand issue](https://github.com/RobertCNelson/omap-image-builder/issues/131)

[2020-05-27 20:00] RobertCNelson commented on #131
Thanks @Goostavo sounds very sane, let me configure this by default. ;)

[2020-05-27 21:42] RobertCNelson commented on #131
OKay looks good:

[code]

https://github.com/RobertCNelson/omap-image-builder/commit/f0cabb066ad626527f2a0b9071598ae3724f65b2
and
https://github.com/RobertCNelson/omap-image-builder/commit/2e3566e26646a90b3589ef04f8458a97de6122c8

[2020-07-03 10:17] drmpeg opened #132 "Some Ubuntu console issues."
On focal during Adafruit_BBIO.GPIO build:
[code]
On focal (not sure if this is a problem or just a root ownership thing):
[code]
As usual, no rush. Just trying to help out.

[2020-08-10 09:23] drmpeg commented on #132
kmod issue is back on 18.04.

[2020-08-10 23:35] drmpeg commented on #132
Adafruit_BBIO.GPIO build fixed by commit https://github.com/adafruit/adafruit-beaglebone-io-python/commit/24a617aecf7cee89d0b62452c86b899e2c02e51b

Closing issue.

[2020-08-10 23:35] #132 closed

[2020-09-02 10:29] ferrarimarco opened #133 "Make the minimum debootstrap version configurable, or enforce a minimal version instead of an exact version"
Hi!

`scripts/install_dependencies.sh` currently enforces an exact debootstrap version. I assume that's to use a known-good one. I containerized my build toolchain, so I enforce a debootstrap version when building the container image.

Is it possible to restore the `minimal debootstrap version check` behaviour, or at least make it configurable (while still setting a known-working default) with a p

[2020-09-09 17:36] ferrarimarco opened #134 "seeed-modules package is not available for 5.x kernels"
Hi! When building an image with a 5.x kernel, I see this in the output:

[code]

After checking http://repos.rcn-ee.com/ubuntu/dists/focal/main/binary-armhf/Packages (and packages for other distros and releases on `repos.rcn-ee.com`), I see no `seeed-modules` for kernels newer than `4.19.98-bone45`.

Can this be safely ignored? Thanks!

[2020-09-09 17:37] ferrarimarco commented on #134
Example configuration:

[code]

[2020-09-09 20:57] RobertCNelson commented on #134
@ferrarimarco correct, this is safe to ignore, the seeed-modules's have not been updated to v5.4.x yet.. (just v4.14.x/v4.19.x) kernel's..

I know this can be confusing, as it looks like any error, all those modules are not always needed..

https://github.com/RobertCNelson/omap-image-builder/blob/master/scripts/chroot.sh#L728-L732

Regards,

[2020-09-10 07:12] ferrarimarco commented on #134
Thanks @RobertCNelson ! This can be closed, or left open as a reminder :)

[2020-10-23 10:11] owlman2222 opened #135 "Beaglebone Ai"
Hi
unable to get --img-16gb working  for use with the AI board,
when using --dtb am57xx-beagle-x15

what am I doing wrong

thanks

[2020-10-23 13:01] RobertCNelson commented on #135
@owlman2222 , that's not a valid option:

https://github.com/RobertCNelson/omap-image-builder/blob/master/tools/setup_sdcard.sh#L1866-L1896

Why are you trying to create a 16gb img file?

The idea behind the "*-img" flag was to minimize the *.img file for network sharing, it was expected to resize the image on the final target later..

Regards,

[2020-10-23 13:34] owlman2222 commented on #135
i was trying to create it the same size as the on board emmc so there was no need to resize, as completely forgot about being able resizing it.

[2020-10-23 13:34] #135 closed

[2020-10-23 14:47] RobertCNelson commented on #135
@owlman2222 ps we just need to set this up to make it even easier ;)

https://github.com/beagleboard/Latest-Images/issues/30

Regards,

[2021-03-15 16:37] willeccles opened #136 "install_dependencies.sh will not function if the host system is not Debian-based"
I use a Void Linux host system for development and have had to work around how this script works. It seems to me that it would be far simpler change how the function works. Rather than relying on `dpkg`'s output (which fails on Void and non-Debian systems), one could simply change the `debootstrap_is_installed()` function to check `if command -v debootstrap >/dev/null`. Alternatively, you could ch

[2021-03-15 16:39] willeccles commented on #136
My current build script for this system checks if `dpkg` exists, and then if it doesn't, it simply removes everything from that script (my setup script installs the required dependencies anyway, so I don't really need this one to run in the first place). This isn't really relevant to the issue, I just thought it might be entertaining how aggressive my workaround for this is :)

[2021-03-15 16:43] #136 closed

[2021-03-15 16:43] RobertCNelson commented on #136
@willeccles sure no problem. ;)

[2021-03-15 16:45] willeccles commented on #136
Thanks!

[2021-03-18 18:27] willeccles opened #138 "AM335x Debian Bullseye image boot is extremely slow compared to Stretch"
(Apologies if this is not the proper place for this issue, but I am not really sure where it belongs.)

Previously, we were using the pre-built eewiki Debian Stretch image (I believe 9.8 or so). After modifying the eewiki Debian Buster build config to support Bullseye, I am getting the following boot times (abbreviated):

[code]

From what I can tell, it looks like `ifupdown-pre.service` is waitin

[2021-03-19 14:51] willeccles commented on #138
I'm going to try upgrading to kernel 5.10-bone-rt, as it seems upgrading the kernel has helped such situations in the past (https://github.com/RobertCNelson/linux-dev/issues/45). I know this is rather bleeding edge for such a system, so I was expecting some growing pains, but we'd really like to be able to ship this system with Bullseye on it, so I will keep trying.

[2021-03-19 15:21] willeccles commented on #138
I have just gotten 5.10.21-bone-rt-r28 built and flashed. It appears that one GPIO chip was not successfully added, so it's likely our device tree requires updates from kernel 4.19 to 5.10 (I already had to change one thing to get it to successfully build the dtb, so it's not out of the question). For the moment, our image-builder project configuration is almost entirely identical to the eewiki-mi

[2021-03-19 15:24] willeccles commented on #138
Additionally, our boot is still extremely slow. It appears also that ifup@eth0 is failing: `RTNETLINK answers: file exists`. This might have something to do with connmand. It also appears to be waiting quite some time for serial-getty@ttyGS0, since /dev/ttyGS0 does not exist.

[2021-03-19 15:30] RobertCNelson commented on #138
yeah, libcomposit is slow on loading.. back in 4.19.x i had tried building it as built-in, to try and speed that up, but it was even more broken..

[2021-03-19 16:57] willeccles commented on #138
Alright, on 5.10 I am unable to get GPIOs 0-31 to register. The kernel repeatedly posts the same log message `PM: Cannot get wkup_m3_ipc handle`. This happens a few times, and then after the GPIOs have failed and many other devices have been brought up, it then says `wkup_m3_ipc 44e11324.wkup_m3_ipc: CM3 Firmware Version = 0x192`. I've included an image showing the relevant sections of the boot lo

[2021-03-19 18:38] willeccles commented on #138
Ah, never mind. That's `-EPROBE_DEFER`, and you can see it is deferring until later and successfully setting up. Very strange that our hardware isn't working then.

[2021-03-30 13:47] willeccles commented on #138
Looks like disabling the `repo_rcnee` option fixed this, so I am assuming the rules are from `bb-customizations`, though I did not check with apt to figure it out, so YMMV.

[2021-04-01 14:01] willeccles commented on #138
Okay, so to summarize my findings for the future if people are looking to use Bullseye:

1. At the moment, kernel 5.10 is not supported by TI, so if you have any issues, do not expect them to help. When asking about the GPIO chip issue, I received a response that effectively said that they don't support anything there is no TI SDK for and if I couldn't reproduce the issue on 4.19 they would not he

[2021-04-01 14:01] #138 closed

[2021-04-01 14:06] willeccles opened #139 "Bullseye/Sid: If bb-customizations is not installed, generic-board-startup is not enabled"
I was tempted to open a PR to fix this issue, but I would like to hear first whether or not there's a specific reason for this. Bullseye and Sid are supported elsewhere, but when setting up the system, only Buster and Stretch get the generic-board-startup script enabled if there is no bb-customizations. Here is the relevant case in chroot.sh: https://github.com/RobertCNelson/omap-image-builder/blo

[2021-04-21 20:04] jtetrault opened #140 "chroot.sh uses the wrong initial timestamp file for Buster"
Hi there,

I am using the `image-builder` repository to build a custom Debian Buster flasher image. I noticed that upon first boot of the system, that the start time of services was much further in the past than expected (2 years 2 months).
[code]

I looked at `scripts/chroot.sh` and saw the `touch /var/lib/systemd/clock` command around line 1117 that is intended to set the initial timestamp that

[2021-04-21 20:14] RobertCNelson commented on #140
awesome, thanks @jtetrault looks like:

https://github.com/systemd/systemd/commit/53d133ea1bb4c4ed44c4b6aae42f1feb33d9cb78

So with: v235

stretch: v232
buster: v241
bullseye: v247.3

[2021-04-21 20:15] #140 closed

[2021-04-21 20:15] RobertCNelson commented on #140
Thanks @jtetrault , i pushed out a fix, once we drop stretch, i'll remove that location, so for now, it's touching both locations.

[2021-04-21 20:19] jtetrault commented on #140
Awesome, thanks! No harm in just touching both.

[2021-04-21 21:33] jtetrault commented on #140
Hey, it appears that the `/var/lib/systemd/timesync` directory doesn't exist yet, so the new `touch` cmd is failing. I think a `mkdir -p /var/lib/systemd/timesync` just needs to be inserted before the `touch`.

Please let me know if you need a new issue created!

[2021-04-21 23:16] RobertCNelson commented on #140
@jtetrault and merged. ;) after my apm mustang went down, i haven't really had ci on this repo lately, i need to fix. that..

[2021-04-22 20:01] jtetrault opened #141 "systemd-journald race condition due to /etc/machine-id regeneration"
Hey, I think this is the appropriate repo for this issue (at least, it can be resolved in this repo).

There seems to be a minor race condition on first boot, that causes `journalctl` to just spit out "No journal files were found" until the service / system is rebooted. I traced this down to `/etc/machine-id` being deleted and regenerated by the `generic-startup.sh` script in the `boot-scripts` re

[2021-04-22 22:05] #141 closed

[2021-04-22 22:06] RobertCNelson commented on #141
Thanks @jtetrault i just added to the same location as teh ssh trigger file..

[2021-04-22 22:08] RobertCNelson commented on #141
also fixed the flashing script to do the sam.e..

[2021-04-23 19:21] jtetrault commented on #141
Thank you!

[2021-07-20 14:05] willeccles commented on #139
Closing as it appears to have been fixed in 043f14de8b9f0d740ba6ea39e0ddf0f1d4ed2ca3.

[2021-07-20 14:05] #139 closed

[2021-08-24 10:18] drmpeg opened #150 "On the bb.org-debian-bullseye-console-v5.4 configuration, USB1 seems missing."
/var/log/syslog gets spammed continuously. There is no /sys/class/net/usb1 file. This is on a Beagleboard-X15.

[code]

[2021-08-24 13:16] RobertCNelson commented on #150
Thanks @drmpeg , we aren't ready for usb0/usb1 yet, let's drop it:

https://github.com/RobertCNelson/omap-image-builder/commit/3e248fd0196386e661f7ab5735821060f02408c3

[2021-08-24 13:17] RobertCNelson commented on #150
ps, i really want to use 5.10, i've added another config, which is a copy of 5.4.x:

bb.org-debian-bullseye-console-v5.10-ti-armhf.conf

[2021-08-24 23:07] drmpeg commented on #150
Thanks, the fix works good.

A minor issue for your consideration. On the 5.10 config, some files are missing.
[code]

[2021-08-24 23:07] #150 closed

[2021-08-24 23:15] RobertCNelson commented on #150
@drmpeg yeah those are safe...the two rtl* drivers aren't reallly maintained...

[2021-08-26 19:49] MMetelko opened #156 "bb-usb-gadgets has unmet dependencies"
When using omap-image-builder to create a focal image, I am now running into an issue where the `bb-usb-gadgets` package will not install and gives the following message:

[code]

There was a change to `https://github.com/rcn-ee/repos/tree/master/bb-usb-gadgets` 10-13 days ago where these packages were added as a `Pre-Depends` line in the debian control file - https://github.com/rcn-ee/repos/blob/

[2021-08-26 20:46] #156 closed, assigned to nobody

[2021-08-27 20:55] MMetelko opened #158 "Missing /u-boot/bb-u-boot-am335x-evm/MLO file in focal build"
I ran across another issue while trying to create a focal version of a BBB image using these scripts.  The configuration file used to drive the build is https://github.com/RobertCNelson/omap-image-builder/blob/master/configs/rcn-ee_console_ubuntu_focal_armhf.conf.  We are building with kernel version 5.4.106-ti-rt-r33, and I pulled the latest version of the code 3 hours ago.

Here is the error I a

[2021-08-27 22:06] #158 closed, assigned to nobody

[2021-09-28 03:10] MMetelko opened #180 "Dependency failed for Serial Getty on ttyS0 with Ubuntu Focal Build"
I have been trying to create a ubuntu focal console image and setting up the networking using the netplan approach with systemd-networkd.service.  It looks like the repo is being worked on for Debian Bullseye and Buster, but possibly not tested lately for focal.  I have seen that you are also restructuring some of the rcn-ee/repos for BBB specific setup.  I have looked at where repo changes were m

[2021-09-28 14:29] RobertCNelson commented on #180
@MMetelko yeah sorry!  I'm pretty happy with how Bullseye is being configured now, i'll be working on backporting this to Buster and Ubuntu LTS..

correct, systemd-network removes our need for dnsmasq!!!

the udev rules for wifi really cleanup the out of box tether stack..

We just need gadget support in systemd:

[code]

[2021-10-07 19:16] MMetelko commented on #180
@RobertCNelson
Given your constant activity in updating this and the rcn-ee/repos/, I can tell you probably have a substantial list of priorities you are working through daily.  Is it possible to provide a possible time frame when you might get to a stable point where backporting makes sense?  I do understand that things happen and desired deadlines can even get delayed, so I am looking for a gene

[2021-10-08 02:05] RobertCNelson commented on #180
Nah, wpa is still blocking... as long as you have a wifi adapter.. it's fast..

[2021-10-11 02:20] MMetelko commented on #180
I am still missing something.  Here is what I am running after ./RootStock-NG:

[code]

Here is what I am seeing:
[code]

[2021-10-12 14:33] MMetelko commented on #180
Yes, I followed the pattern of rcn-ee.net-console-ubuntu-focal-v5.10-ti-armhf.conf since I want to use the netplan systemd approach to networking.

Here are the packages I included in the `repo_rcnee_pkg_list`:
[code]

I also included `u-boot-tools` in the `deb_include` list

[2021-11-19 20:35] MMetelko opened #184 "bb-bbai-firmware postinstall issue"
I tried building an image yesterday and ran into this issue.  Where does `/lib/firmware/cypress/cyfmac43455-sdio.txt` get saved to the image - here or in the ti-linux-kernel-dev?  This build worked 11/12 and I see a change in the `repos/bb-bbai-firmware repo.  I debated logging this issue here or in the repos/bb-bbai-firmware repo and decided to go with the upper level one.

[code]

Commit used:

[2021-11-19 20:55] #184 closed

[2021-11-19 20:56] RobertCNelson commented on #184
Thanks @MMetelko !  Yeah, cypress decided to rename their firmware under a new directory, sorry i didn't catch this when i changed it..

This is for the brcmfmac module on the BBAI:

There new firmware came from:
https://www.cypress.com/documentation/software-and-drivers-archive/wifi-bt-linux-archive?cat=other

Regards,

[2022-04-19 09:48] jtremesay-sereema opened #189 "A recent security update of git broke the setup_sdcard.sh script"
Hi,

As the title says, [the fix for the CVE-2022-24765](https://github.blog/2022-04-12-git-security-vulnerability-announced/) broke the setup_sdcard.sh script:

[code]

[2022-04-19 14:29] RobertCNelson commented on #189
Hi @jtremesay-sereema thanks for the report...  In Bullseye i've been moving the main features of this script into packages, thus it's not really seeing updates any more.. So let's just nuke the git pull call

[2022-04-19 14:42] #189 closed

[2022-05-09 01:29] uXeBoy opened #190 "linux-headers missing?"
Stuck in a catch-22 loop where I cannot run any makefiles to build wifi drivers for a network connection, because linux-headers seem to not be included in the builds? And cannot just try to 'apt-get' the linux-headers because there is no network connection yet... but cannot run any makefiles to build wifi drivers for a network connection, because linux-headers seem to not be included in the builds

[2022-06-27 13:33] me21 opened #198 "Local bootloader not found during image creation"
I'd like to supply my local U-Boot build for the Beaglebone Black. I'm running the script with the following parameters:

[code]

It fails on https://github.com/RobertCNelson/omap-image-builder/blob/74c3f405f730a4a2741e1eb4fc8338cd28eb52fa/tools/setup_sdcard.sh#L1512-L1513

with

[code]

Adding extra check so that the if statement looks like `if [ "${conf_bl_distro_SPL}" ] && [ ! "${USE_LOCAL_BOOT

[2022-06-28 18:27] RobertCNelson commented on #198
idk....

[code]

[2022-06-29 13:23] me21 commented on #198
Here's my build log:
[build.log](https://github.com/RobertCNelson/omap-image-builder/files/9010865/build.log)

[2022-06-29 14:24] RobertCNelson commented on #198
very very weird...

[code]
vs:
[code]

looks like it didn't pass the path...

[2022-06-29 14:41] me21 commented on #198
[code]

[2022-07-25 16:22] jeanparpaillon opened #203 "Will not run from Debian"
When running from Debian `RootStock-NG.sh` fails installing dependancies.

In `scripts/install_dependencies.sh`, it looks for `qemu` package, which is a Ubuntu metapackage and does not exist on Debian.

Depending on `qemu-system-arm` solves the issues on Debian. The package also exists on Ubuntu.

[2022-07-25 16:54] RobertCNelson commented on #203
They must have dropped this for Bookworm/Sid.. ;)

https://packages.debian.org/bullseye/qemu

Thanks

[2022-07-25 16:54] #203 closed

[2022-07-26 07:45] jeanparpaillon commented on #203
@RobertCNelson actually, they have made it a virtual package (provided by 'qemu-system-*') so it won't be listed with `dpkg -l` neither can be installed through `apt install qemu`

[2022-07-26 07:49] jeanparpaillon commented on #203
As far as I know, there is no easy way to check if a virtual package is actually 'installed' :/
https://askubuntu.com/questions/679137/how-to-check-if-a-virtual-package-is-installed

[2022-07-26 07:56] jeanparpaillon commented on #203
My bad, this is not even a virtual package, but a dummy one. I have no idea how to deal with that :)

[2022-07-26 14:52] RobertCNelson commented on #203
The binary's we really want is..

[code]

qemu-user-static, should be safe for all 'lts' versions of ubuntu and debian now right?

https://packages.debian.org/unstable/qemu-user-static

Regards,

[2022-07-26 15:04] jeanparpaillon commented on #203
tbh, I don't really know the difference between qemu-user-static and other qemu-*-static
From the package name point of view, however, qemu-user-static seems a good fit

[2022-08-10 20:05] liberato-whisper opened #207 "Make the booted EMMC behavior configurable"
I'm not sure the best practice for contributing to this repo, so I've opened both [a PR](https://github.com/RobertCNelson/omap-image-builder/pull/206) and this issue (feel free to close/remove whichever is redundant). Basically I need to be able to create an image that has the uEnv.txt default to disabling the EMMC, and the only way i see to do that is to make the change in the aforementioned PR.

[2022-08-10 20:11] RobertCNelson commented on #207
@liberato-whisper nope, looks perfect!

[2022-08-10 20:13] liberato-whisper commented on #207
@RobertCNelson thanks for the quick turnaround!

[2022-08-10 20:13] #207 closed

[2022-10-01 09:55] orgua opened #210 "Trouble running the image-builder"
Is there more info about running the scripts to build your own image for the BBB?

As the rcn-ee apt repo seems to support ubuntu 22.04 / jammy, I wanted to create a test-image but already failed at the default ubuntu image instructions given in the readme:

[code]

As debian-based linux as a host seems tested, I tried to run it on ubuntu 20.04 and and 22.04 without success:

[code]

I found one u

[2022-10-01 16:35] RobertCNelson commented on #210
Hi @orgua sorry, at one time we did have a dependency check, but debootstrap is actually common on non-debian systems, so it was decided to not try to do every combination..

now days i'm having too much fun on other arch's, i don't think i'll actually finish the 22.04/jammy bits..